[Unit]
Description=OS2datascanner pipeline: matcher %i
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
ProtectSystem=strict
PrivateTmp=true
DynamicUser=true
StandardOutput=journal
SyslogIdentifier=OS2ds-matc%i
ExecStart=/vagrant/bin/pex python -m os2datascanner.engine2.pipeline.matcher
