{% extends 'os2webscanner/base.html' %}
{% block rendertype %}regular{% endblock %}
{%  block title %}
{% if scan.scanner %}
Rapport: {{scan.scanner}}
{% else %}
Rapport
{% endif %}
{% endblock %}

{% block heading %}
{% if scan.scanner %}
Rapport: {{scan.scanner}}
{% else %}
Rapport
{% endif %}
{% endblock %}

{% block body %}
<div class="container">

  <p class="lead">
	<a href="/reports" class="hidden-print">
      &larr; Klik her for at vise listen over rapporter
    </a>
  </p>

    {% if scan.domains.all %}
        <div class="table-responsive">
            <table class="table table-bordered report">
                <tbody>
                <tr>
                    {% if scan.domains.all and not scan.scanner.process_urls %}<td class="head">
                        <h3>Domæner</h3>
                    </td>{% endif %}
                </tr>
                <tr>
                    {% if scan.domains.all and not scan.scanner.process_urls %}<td>
                        {% for domain in scan.domains.all %}
                            {% if domain.filedomain.alias %}
                                {{domain.filedomain.alias}}: ({{domain.url}})<br>
                            {% else %}
                                {{domain.url}}<br>
                            {% endif %}
                        {% endfor %}
                    </td>{% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    <h3>Resumé</h3>
    <div class="table-responsive">
        <table class="table table-bordered report">
            <tbody>
            <tr>
                <td>Starttidspunkt:</td>
                <td>{{ scan.start_time }}</td>
            </tr>
            <tr>
                <td>Sluttidspunkt:</td>
                <td>{{ scan.end_time | default:"&mdash;" }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ scan.get_status_display }}</td>
            </tr>
            <tr>
                <td colspan="3"><b>Modtagere:</b> {% for profile in scan.recipients.all %}
                    {% if profile.user.email %}{{profile.user.email}}{% else %}{{profile.user.username}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Statistik</h3>
    <div class="table-responsive">
        <table class="table table-bordered report">
            <tbody>
            <tr>
                <td>Antal filer med matches:</td>
                <td>{{ no_of_matches }}</td>
            </tr>
        {% if files_scraped_count %}
            <tr>
                <td>Antal scannede foldere og filer:</td>
                <td>{{ files_scraped_count }}</td>
            </tr>
        {% endif %}
        {% if files_is_dir_count %}
            <tr>
                <td>Antal scannede foldere:</td>
                <td>{{ files_is_dir_count }}</td>
            </tr>
        {% endif %}
        {% if files_skipped_count %}
            <tr>
                <td>Antal uændrede filer siden sidste scan:</td>
                <td>{{ files_skipped_count }}</td>
            </tr>
        {% endif %}
	    {% if failed_conversions %}
            <tr>
                <td>Dokumentkonverteringer der mislykkedes:</td>
                <td>{{ failed_conversions }}</td>
            </tr>
	    {% endif %}
        {% if relevant_size and relevant_count %}
            <tr>
                <td>Antal og størrelse af evt. relevante filer:</td>
                <td>{{ relevant_count }}</td>
                <td>{{ relevant_size|filesizeformat }}</td>
            </tr>
        {% endif %}
        {% if supported_size and supported_count %}
            <tr>
                <td>Antal og størrelse af relevante understøttede filer:</td>
                <td>{{ supported_count }}</td>
                <td>{{ supported_size|filesizeformat }}</td>
            </tr>
        {% endif %}
	        </tbody>
        </table>
    </div>

    <h3>Indstillinger</h3>
    <div class="table-responsive">
      <table class="table table-bordered report">
          <tbody>
          <tr>
              <td {% if not scan.do_ocr %} class="text-muted" {% endif %}>Scan Billeder{% if scan.do_ocr %} <span class="glyphicon glyphicon-ok"></span>{% endif %}</td> 
              <td></td>
              <td></td>

          </tr>
          <tr>
              <td {% if not scan.do_last_modified_check %} class="text-muted" {% endif %}>Tjek Last-Modified{% if scan.do_last_modified_check %} <span class="glyphicon glyphicon-ok"></span>{% endif %}</td> 
              <td {% if not scan.do_last_modified_check_head_request and not scan.do_last_modified_check or not scan.do_last_modified_check and scan.do_last_modified_check_head_request %} class="text-muted" {% endif %}>Brug HTTP HEAD-forespørgsler{% if scan.do_last_modified_check_head_request and scan.do_last_modified_check %} <span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
              <td></td>
          </tr>
          <tr>
            <td {% if not scan.do_link_check %} class="text-muted" {% endif %}>Tjek links{% if scan.do_link_check %} <span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td {% if not scan.do_external_link_check %} class="text-muted" {% endif %}>Eksterne links{% if scan.do_external_link_check %} <span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
              <td></td>
        </tr>
        <tr>
            <td {% if not scan.do_collect_cookies %} class="text-muted" {% endif %}>Saml cookies{% if scan.do_collect_cookies %} <span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            <td></td>
            <td></td>
        </tr>
          <tr>
              <td {% if not scan.regex_rules.all %} class="text-muted" {% endif %} colspan="3">
                  <b>Ad hoc-regler: </b>
                  {% for rule in scan.regex_rules.all %}
                    {{rule.name}}{% if not forloop.last %},{% endif %}
                  {% endfor %}
              </td>
          </tr>
      </tbody>
    </table>
  </div>

  {% if matches %}
  <h2>Resultater</h2>
  <p>
    {% if no_of_matches > 100 %}
    Kun de f&oslash;rste 100 resultater vises.
    {% endif %}
    <a href="./csv/" class="download-csv hidden-print">
      Klik her for at downloade hele rapporten
    </a>
  </p>
  <div class="table-responsive">
            <table class="table table-striped">
      <thead>
        <tr>
          <td>
                <strong>
                  <small>
                    URL
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Regel
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Match
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Følsomhed
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Kontekst
                  </small>
                </strong>
              </td>
              {% if scan.do_ocr %}
              <td>
                <strong>
                  <small>
                    Side
                  </small>
                </strong>
              </td>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          {% for match in matches %}
              <tr class="{{ match.get_sensitivity_class }}">
                  <td class="match-url">
                    <span>
                        {% if "file://" in match.url.url %}
                        {{ match.url.url|slice:"7:" }}
                        {% else %}
                        <a href="{{ match.url.url }}" target="_NEW">{{ match.url.url }}</a>
                        {% endif %}
                    </span>
                    {% if "file://" in match.url.url %}
                    <input type="text" class="phantom" value="{{ match.url.url|slice:"7:" }}" />
                    {% endif %}
                  </td>
                  <td class="match-rule">
                      <span>{{ match.get_matched_rule_display }}</span>
                  </td>
                  <td class="match-data">
                      <span>{{ match.matched_data }}</span>
                  </td>
                  <td class="match-sensitivity">
                      <span>{{ match.get_sensitivity_display }}</span>
                  </td>
                  <td class="match-context">
                      <span>{{ match.match_context }}</span>
                  </td>
                  {% if scan.do_ocr %}
                  <td class="match-pageno">
                      <span>{{ match.page_no }}</span>
                  </td>
                  {% endif %}
              </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
      {% endif %}

      {% if broken_urls %}
        <h2>Broken Links</h2>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td>Totalt antal broken links:</td>
                <td>{{ no_of_broken_links }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>
                    <strong>
                        <small>
                            Sider med broken links
                        </small>
                    </strong>
                </td>
                <td>
                    <strong>
                        <small>
                            Antal
                        </small>
                    </strong>
                </td>
                <td>
                    <strong>
                        <small>
                            
                        </small>
                    </strong>
                </td>
            </tr>
            </thead>
            <tbody>
                <script>
                    var status_messages = [];
                    var all_broken = [];
                </script>
            {% for referrer in referrer_urls %}
                <tr class="danger">
                <td class="broken-url-referrers">
                    <a href="{{referrer}}" target="_NEW">{{ referrer }}</a>
                </td>

                <td class="broken-url-count">
                    <span class="badge">{{referrer.broken_urls.count}}</span>
                </td>

                <td class="broken-url-show">
                    <p>
                        <script>
                            var get_messages = Array(
                            {% for broken in referrer.broken_urls %}
                                "{{ broken.status_message }}",
                            {% endfor %});
                            var all_broken_urls = Array(
                            {% for url in referrer.broken_urls.all %}
                                "{{ url }}",
                            {% endfor %}
                            );
                            status_messages.push(get_messages);
                            all_broken.push(all_broken_urls);
                        </script>
                        <button type="button"
                                class="btn btn-default"
                                data-toggle="modal"
                                data-target="#view-deadlinks-modal"
                                onclick="showReferrerUrl('{{referrer.id}}','{{referrer.url}}',all_broken[{{ forloop.counter0 }}],status_messages[{{ forloop.counter0 }}])">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        Inspicér
                        </button>
                    </p>
                </td>

                </tr>
            {% endfor %}
    </div>
    {% endif %}
      
    {% if failed_conversions or scan.status == "FAILED" %}
    <div class="failed-conversions">
      <h2>Fejllog</h2>
      <pre>{{ scan.occurrence_log }}</pre>
      <a href="/report/{{scan.id}}/log/">Se fuld log</a>
    </div>
    {% endif %}

    {% if scan.do_collect_cookies %}

    <div class="cookies">
        <h2>Cookies</h2>
        <pre>
{{ scan.cookie_log }}
        </pre>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block modal %}
<div class="modal iframe" id="view-deadlinks-modal" role="dialog"
  aria-labelledby="view-deadlinks-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	        &times;
	    </button>
	<h4 class="modal-title" id="create-summary-modal-title">
	  Broken links på <span id='refUrl'></span>
	</h4>
      </div>
      <div class="modal-body">
        <div class='row'>
            <div class='col-md-3'>
                <div id="list-links" class="list-group">
                    <!--this is where the broken links will be shown-->
                </div>
                <ul id='test-thing'>
                
                </ul>
            </div>
            <div class='col-md-9' id="iframe-container">
                 <iframe frameborder="0" id="iframe"></iframe>
            </div>
      </div>
    </div>
  </div>
</div>

<script>
    var linkMarkup = '';

    document.getElementById('iframe').onload = function(){
         var ifr = $("#iframe").contents();
         $("#iframe").contents().find('head').append('<style type="text/css">.webscanner-dead-link {display: inline;border: 0px;border-radius: 0.25rem;background: #d9534f;color: #fff !important;padding: .2em .6em .3em;}</style>');

         $("#list-links").on("click", "a", function(e){
           e.preventDefault();
           var href = $(this).attr("data-href");
           var targ = $("#iframe").contents().find("[href=\"" + href + "\"]");

           $("#iframe").contents().find("a").removeClass('webscanner-dead-link');

           if(typeof targ[0]=='undefined')
           {
               targ = resolveIssue(href);
           }

           targ.addClass('webscanner-dead-link');

           var offset = document.getElementById('iframe-container').clientHeight * 0.5;
           ifr.scrollTop(targ.offset().top - offset);

            $("#list-links a").removeClass("active");
            $("#list-links a").addClass("list-group-item-action");
            $(this).removeClass("list-group-item-action");
            $(this).addClass("active");
         });

        $("#list-links").html(linkMarkup);
    }

    function resolveIssue(href) {
        href = formatUrl(href);
        var newHref = findLink(href);

        if(typeof newHref[0]=='undefined') {
            newHref = internalBrokenLink(href);
        }

        if(typeof newHref[0]=='undefined') {
            newHref = linkWithUnorderedParams(href);
        }

        return newHref;
    }

    function internalBrokenLink(href) {
        var internalTarget;

        var scanUrls = '{{ scan.domains.all }}';
        scanUrls = scanUrls.replace(/(&lt;Domain: )/g,'')
                           .replace(/(&gt;)/g,'')
                           .replace('[','')
                           .replace(']','')
                           .split(',');

        for(var i=0;i<scanUrls.length;i++) {
            var url = scanUrls[i].replace(/\/$/, ''); //remove trailing slash
            href = href.replace(url, "").replace(/^\/|\/$/g, '');

            var subfolders = href.split('/');

            //find urls in subfolders ../../../
            for(var j=0;j<subfolders.length;j++) {
                var back = '../';
                var s = back.repeat(j) + subfolders.slice(j).join('/');
                internalTarget = findLink(s);

                if(typeof internalTarget[0] != 'undefined'){
                    break;
                }
            }

            //find urls in subdomains *.example.dk
            if(scanUrls[i].startsWith('*')) {
                internalTarget = linkInSubdomain(href);
            }

            if(typeof internalTarget[0] == 'undefined') {
                internalTarget = decodeComma(href);
            }

            //if link is found
            if(typeof internalTarget[0] != 'undefined')
            {
                break;
            }
        }

        return internalTarget;
    }

    function formatUrl(href) {
        var src = $("#refUrl > a").attr('href');
        console.log(src);
        href = href.replace(src,'');
        href = decodeURI(href);
        return href;
    }

    function decodeComma(href) {
        console.log('decode comma');
        href = splitUrl(href);
        console.log(href);
        var comma = '%3A';
        href = href.replace(/^(http\:\/\/)/,"").replace(/^(https\:\/\/)/,"");
        var reg = new RegExp(':', 'g');
        href = href.replace(reg, comma);
        return findLink(href);
    }

    function linkInSubfolder(href) {

    }

    function linkInSubdomain(href) {
        console.log('links in subdomain');
        href = splitUrl(href);

        return findLink(href);
    }

    function splitUrl(href) {
        var hrefSplit = href.split('/');
        var index = hrefSplit.indexOf(hrefSplit[2],3);
        href = '/' + hrefSplit.slice(3).join('/');

        if(index > 0) {
            href = hrefSplit.slice(index).join('/');
        }

        return href;
    }

    function linkWithUnorderedParams(href) {
        console.log('is link with unordered params');
        var newTarget;
        href = href.split('?');
        var params = href[1].split('&');
        var perms = permutator(params);

        for(var i=0;i<perms.length;i++) {
            p = perms[i];
            var newHref = href[0] + '?' + p[0] + '&' + p[1] + '&' + p[2];
            newTarget = findLink(newHref);

            //if it finds a match, break and return
            if(typeof newTarget[0]!='undefined') {
                break;
            }
        }
        
        return newTarget;
    }

    function permutator(inputArr) {
        var results = [];

        function permute(arr, memo) {
            var cur, memo = memo || [];
            for (var i = 0; i < arr.length; i++) {
                cur = arr.splice(i, 1);
                if (arr.length === 0) {
                    results.push(memo.concat(cur));
                }
                permute(arr.slice(), memo.concat(cur));
                arr.splice(i, 0, cur[0]);
            }
            return results;
        }
        return permute(inputArr);
    }

    function findLink(href) {
        console.log('find link ' + href);
        return $("#iframe").contents().find('a[href*="' + href + '"]');
    }

    function showReferrerUrl(id, url, broken_link, error) {
        console.log(id, url, broken_link, error)
        var url_mask = "{% url 'referrer_content' pk=12345 %}".replace(/12345/, id.toString());
        document.getElementById("iframe").src = url_mask;

        $("#create-summary-modal-title span").html('<a href="' + url + '">' + url + '</a>');

        linkMarkup = '';
        for (var i = 0; i < broken_link.length; i++) {
            linkMarkup += "<a class='list-group-item list-group-item-action' data-href='"+broken_link[i]+"'>"+broken_link[i]+"<br>";
            linkMarkup += "<span class='label label-danger'>"+ error[i] +"</span></a>";
        }

        $("#list-links").html('Finder links...');
        prevTarg = null;
    }

    document.onready = function() {
        $("td.match-url").each(function(idx, element) {
            var e = $(element);
            var hidden = e.find("input[type='text'].phantom")
            /* Only set up the copy-on-click handler if we found a hidden input
               field to copy from */
            hidden.each(function() {
                e.attr("title", "Klik for at kopiere teksten til clipboard")
                e.click(function() {
                    /* We can only select text in editable, visible fields, so
                       make the hidden input control visible, select its
                       contents, copy it, and then hide it again. ...
                       Interesting platform, the Web, isn't it? */
                    hidden.removeClass("phantom")
                    console.log(hidden)
                    hidden.select()
                    document.execCommand("copy")
                    hidden.addClass("phantom")

                    e.css("opacity", 0.2)
                    e.fadeTo(200, 1)
                })
            })
        })
    }
</script>
{% endblock %}
