.button {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5em;
  text-decoration: none;
  transition: background-color var(--transition-timing) var(--transition-timing-function);

  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  &--round {
    border-radius: 50%;
  }

  &--rounded {
    border-radius: 3px;
  }

  &--cta {
    background-color: var(--color-main);
    color: #fff;
    font-weight: bold;
    padding: 1em;

    &:focus,
    &:hover {
      background-color: var(--color-main-dark);
      color: #fff;
    }
  }

  &--small {
    padding: 0.5em;
  }

  &--modal-close {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
  }
}

.button svg {
  vertical-align: bottom;
}

.button svg + span, 
.button span + svg {
    margin-left: 0.5em;
}
