.modal{
  background-color: #fff;
  display: none;
  height: 40rem;
  max-height: calc(100vh - 2rem);
  max-width: 60rem;
  width: calc(100% - 2rem);
  z-index: var(--z-index-modal);

  &__backdrop {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: calc(var(--z-index-modal) - 1);
  }

  &__heading {
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 1;
    padding: 1rem;
    margin: 0;
  }

  & > iframe {
    height: calc(100% - 3rem);
    width: 100%;
  }
}

.close-modal {
  display: inline-block;
  line-height: 1;
  padding: 0.5rem;
  position: absolute;
  top: -1rem;
  right: -1rem;

  svg {
    fill: #fff;
    height: 1rem;
    vertical-align: middle;
    width: 1rem;
  }
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;

  & > div {
    border-radius: 100px;
    background-color: #fff;
    height: 20px;
    width: 2px;
    margin: 0 1px;
    display: inline-block;
  
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    animation-delay: -1.1s;
  }

  .rect3 {
    animation-delay: -1.0s;
  }

  .rect4 {
    animation-delay: -0.9s;
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.5);
  }

  20% {
    transform: scaleY(1.0);
  }
}
