#navigation {
  margin-left: 1rem;
}

#navigation li a {
  color: inherit;
  display: block;
  float: left;
  margin-right: 1rem;
  padding: 0.5rem 0;
  text-decoration: none;
  transition: var(--transition-default);
}

#navigation li a::after {
  background-color: var(--color-main);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0);
  width: 100%;
  transition: transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

#navigation li a:hover::after,
#navigation li a:focus::after {
  transform: scale(1);
}

#navigation li a.active::after {
  transform: scale(1);
  background-color: var(--color-main);
}

#navigation li {
  list-style-type: none;
}
