.select-rules {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "available selected";
  line-height: 1;

  &__available {
    border: 1px dashed rgba(0, 0, 0, 0.1);
    grid-area: available;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
  }

  &__selected {
    border: 1px dashed rgba(0, 0, 0, 0.1);
    grid-area: selected;
    padding: 0.5rem;
  }
}

.rule {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-small);
  display: block;
  margin: 0;
  padding: 0.5rem;
  transition: var(--transition-default);

  &:focus:not([data-disabled]),
  &:hover:not([data-disabled]) {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  & + & {
    margin-top: 0.5rem;
  }

  &--selected {
  }
}

.add-rule-button {}

.remove-rule-button {
  background: no-repeat 50%/50% 50%;
  background-color: var(--color-error);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath fill='%23fff' d='M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z'/%3e%3c/svg%3e");
  display: inline-block;
  height: 0.75rem;
  margin-right: 0.5rem;
  width: 0.75rem;

  &.disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
  }
}
