.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: var(--box-shadow);
  background-color: var(--color-header-bg);
  max-width: 80rem;

  &__control {
    background-color: inherit;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 1rem;
    line-height: 1;
    outline: none;
    padding: 1rem;
    transition: 0.3s;

    &:focus,
    &:hover {
      color: #fff;
      background-color: var(--color-main);
    }

    &.active {
      color: #fff;
      background-color: var(--color-main);
    }
  }

  &__content {
    display: none;
    padding: 1rem 0;
    max-width: 80rem;
    animation: fadeEffect 1s;
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
