{% extends 'os2webscanner/base.html' %}
{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}
{% block jquery_script %}
<script type="text/javascript">
(function ($) {
    $(document).ready(function () {
        $('#{{form.sitemap.auto_id}}').bootstrapFileInput();

        // Toggle the Sitemap URL field when Download Sitemap is checked
        $("#id_{{ form.download_sitemap.name }}").click(function () {
            $("#{{ form.sitemap_url.auto_id }}_container").toggle();
        });
        {% if not form.download_sitemap.value %}
        $("#{{ form.sitemap_url.auto_id }}_container").toggle();
        {% endif %}
    });
})(jQuery);
</script>
{% endblock %}
{% block body %}
{% if 0 %}
  <form class="form" role="form">
  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}
  <div id="{{ field.auto_id }}_container">
    {{ field.help_text }}
    <div>
      {{ field.label_tag }} {{ field }}
    </div>
    <div id="{{ field.auto_id }}_errors">
      {{ field.errors }}
    </div>
  </div>
  {% endfor %}
  </form>
{% endif %}

{% if form.non_field_errors %}
  <ul>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if form.errors %}
  <div class="alert alert-danger" role="alert">
      <p>Følgende felter er ikke udfyldt korrekt:</p>
      <ul>
        {% for error in form.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
  </div>
{% endif %}
<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id="{{ form.url.auto_id }}_container" class="col-sm-12{% if form.url.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-3" for="id_{{ form.url.name }}">{{ form.url.label }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="{{ form.url.name }}" id="id_{{ form.url.name }}" {% if form.url.value %}value="{{ form.url.value }}"{% endif %}>
        {% if form.url.help_text %}
        <p>
          <small>{{ form.url.help_text }}</small>
        </p>
        {% endif %}
        {% if form.url.errors %}{{ form.url.errors }}{% endif %}
      </div>
    </div>
  </div>

  {% if form.alias %}
   <div id="{{ form.alias.auto_id }}_container" class="col-sm-12{% if form.alias.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_{{ form.alias.name }}">Drevbogstav</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="{{ form.alias.name }}" id="id_{{ form.alias.name }}" {% if form.alias.value %}value="{{ form.alias.value }}"{% endif %}>
                {% if form.alias.help_text %}
                    <p>
                        <small>{{ form.alias.help_text }}</small>
                    </p>
                {% endif %}
                {% if form.alias.errors %}{{ form.alias.errors }}{% endif %}
            </div>
        </div>
    </div>
  {% endif %}

  {% if form.organization %}
    <div id="{{ form.organization.auto_id }}_container" class="col-sm-12{% if form.organization.errors %} has-error{% endif %}">
      <div class="form-group">
        <label class="control-label col-sm-3" for="id_{{ form.organization.name }}">{{ form.organization.label }}</label>
        <div class="col-sm-9">
          <select name="{{ form.organization.name }}" id="id_{{ form.organization.name }}" class="form-control">
            {% for value, tag in form.organization.field.choices %}
            <option value="{{ value }}"{% if form.organization.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option> {# silly type conversion #}
            {% endfor %}
          </select>
          {% if form.organization.help_text %}
          <p>
            <small>{{ form.organization.help_text }}</small>
          </p>
          {% endif %}
          {% if form.organization.errors %}{{ form.organization.errors }}{% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if form.domain %}    
   <div id="{{ form.domain.auto_id }}_container" class="col-sm-12{% if form.domain.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_{{ form.domain.name }}">Bruger domæne</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="{{ form.domain.name }}" id="id_{{ form.domain.name }}" {% if form.domain.value %}value="{{ form.domain.value }}"{% endif %}>
                {% if form.domain.help_text %}
                    <p>
                        <small>{{ form.domain.help_text }}</small>
                    </p>
                {% endif %}
                {% if form.domain.errors %}{{ form.domain.errors }}{% endif %}
            </div>
        </div>
    </div>
  {% endif %}

  {% if form.username %}
    <div id="{{ form.username.auto_id }}_container" class="col-sm-12{% if form.username.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_{{ form.username.name }}">Bruger navn</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="{{ form.username.name }}" id="id_{{ form.username.name }}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                {% if form.username.help_text %}
                    <p>
                        <small>{{ form.username.help_text }}</small>
                    </p>
                {% endif %}
                {% if form.username.errors %}{{ form.username.errors }}{% endif %}
            </div>
        </div>
    </div>

      <div id="{{ form.password.auto_id }}_container" class="col-sm-12{% if form.password.errors %} has-error{% endif %}">
          <div class="form-group">
              <label class="control-label col-sm-3" for="id_{{ form.password.name }}">Password</label>
              <div class="col-sm-9">
                  <input type="password" class="form-control" name="{{ form.password.name }}" id="id_{{ form.password.name }}" {% if form.password.value %}value="{{ form.password.value }}"{% endif %}>
                  {% if form.password.help_text %}
                      <p>
                          <small>{{ form.password.help_text }}</small>
                      </p>
                  {% endif %}
                  {% if form.password.errors %}{{ form.password.errors }}{% endif %}
              </div>
          </div>
      </div>
  {% endif %}

  {% if form.userlist %}
      <div id="{{ form.userlist.auto_id }}_container" class="col-sm-12{% if form.userlist.errors %} has-error{% endif %}">
          <div class="form-group">
              <label class="control-label col-sm-3" for="id_{{ form.userlist.name }}">Liste af mail brugere</label>
              <div class="col-sm-9">
                  <input type="file" class="form-control" name="{{ form.userlist.name }}" id="id_{{ form.userlist.name }}" {% if form.userlist.value %}value="{{ form.userlist.value }}"{% endif %}>
                  {% if form.userlist.help_text %}
                      <p>
                          <small>{{ form.userlist.help_text }}</small>
                      </p>
                  {% endif %}
                  {% if form.userlist.errors %}{{ form.userlist.errors }}{% endif %}
              </div>
          </div>
      </div>
  {% endif %}

  {% if form.group %}
    <div id="{{ form.group.auto_id }}_container" class="col-sm-12{% if form.group.errors %} has-error{% endif %}">
      <div class="form-group">
        <label class="control-label col-sm-3" for="id_{{ form.group.name }}">{{ form.group.label }}</label>
        <div class="col-sm-9">
          <select name="{{ form.group.name }}" id="id_{{ form.group.name }}" class="form-control">
            {% for value, tag in form.group.field.choices %}
            <option value="{{ value }}"{% if form.group.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option> {# silly type conversion #}
            {% endfor %}
          </select>
          {% if form.group.help_text %}
          <p>
            <small>{{ form.group.help_text }}</small>
          </p>
          {% endif %}
          {% if form.group.errors %}{{ form.group.errors }}{% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if form.validation_status %}
    <div id="{{ form.validation_status.auto_id }}_container" class="col-sm-12{% if form.validation_status.errors %} has-error{% endif %}">
      <div class="form-group">
        <label class="control-label col-sm-3" for="id_{{ form.validation_status.name }}">{{ form.validation_status.label }}</label>
        <div class="col-sm-9">
          <select name="{{ form.validation_status.name }}" id="id_{{ form.validation_status.name }}" class="form-control">
            {% for value, tag in form.validation_status.field.choices %}
            <option value="{{ value }}"{% if form.validation_status.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option> {# silly type conversion #}
            {% endfor %}
          </select>
          {% if form.validation_status.help_text %}
          <p>
            <small>{{ form.validation_status.help_text }}</small>
          </p>
          {% endif %}
          {% if form.validation_status.errors %}{{ form.validation_status.errors }}{% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  <div id="{{ form.exclusion_rules.auto_id }}_container" class="col-sm-12{% if form.exclusion_rules.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-3" for="id_{{ form.exclusion_rules.name }}">{{ form.exclusion_rules.label }}</label>
      <div class="col-sm-9">
        <textarea class="form-control" name="{{ form.exclusion_rules.name }}" id="id_{{ form.exclusion_rules.name }}" rows="3">{% if form.exclusion_rules.value %}{{ form.exclusion_rules.value }}{% endif %}</textarea>
        {% if form.exclusion_rules.help_text %}
          <p>
            <small>{{ form.exclusion_rules.help_text }}</small>
          </p>
        {% endif %}
        {% if form.exclusion_rules.errors %}{{ form.exclusion_rules.errors }}{% endif %}
      </div>
    </div>
  </div>

  {% if form.download_sitemap %}
  <div id="{{ form.download_sitemap.auto_id }}_container" class="col-sm-12{% if form.download_sitemap.errors %} has-error{% endif %}">
      <div class="form-group">
          <label class="control-label col-sm-3" for="id_{{ form.download_sitemap.name }}">{{ form.download_sitemap.label }}</label>
          <div class="col-sm-9">
              <input type="checkbox" class="checkbox" style="margin-top: 4px;"
                     id="id_{{ form.download_sitemap.name }}"
                     name="{{ form.download_sitemap.name }}" value="{{ form.download_sitemap.name }}"{% if form.download_sitemap.value %} checked="checked"{% endif %} />
              {% if form.download_sitemap.help_text %}
              <p>
                  <small>{{ form.download_sitemap.help_text }}</small>
              </p>
              {% endif %}
              {% if form.download_sitemap.errors %}{{ form.download_sitemap.errors }}{% endif %}
          </div>
      </div>
  </div>
  {% endif %}

  {% if form.sitemap_url %}
    <div id="{{ form.sitemap_url.auto_id }}_container" class="col-sm-12{% if form.sitemap_url.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_{{ form.sitemap_url.name }}">{{ form.sitemap_url.label }}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       name="{{ form.sitemap_url.name }}"
                       id="id_{{ form.sitemap_url.name }}"
                       placeholder="/sitemap.xml"
                {% if form.sitemap_url.value %}value="{{ form.sitemap_url.value }}"{% endif %}>
                {% if form.sitemap_url.help_text %}
                <p>
                    <small>{{ form.sitemap_url.help_text }}</small>
                </p>
                {% endif %}
                {% if form.sitemap_url.errors %}{{ form.sitemap_url.errors }}{% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if form.sitemap %}
    <div id="{{ form.sitemap.auto_id }}_container" class="col-sm-12{% if form.sitemap.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3"
                   for="id_{{ form.sitemap.name }}">{{ form.sitemap.label}}</label>
            <div class="col-sm-9">
                {% if form.sitemap.value %}
                Aktuelt: {{ form.sitemap.value }}
                <input id="{{ form.sitemap.name }}-clear_id" name="{{ form.sitemap.name }}-clear" type="checkbox"/>
                <label for="{{ form.sitemap.name }}-clear_id">Fjern</label>
                <br />
                {% endif %}
                <input class="form-control" id="id_{{ form.sitemap.name }}"
                       name="{{ form.sitemap.name }}"
                       type="file"
                       data-filename-placement="inside"
                       title="Klik her for at uploade sitemap.xml" />
                {% if form.sitemap.help_text %}
                <p>
                    <small>{{ form.sitemap.help_text }}</small>
                </p>
                {% endif %}
                {% if form.sitemap.errors %}{{ form.sitemap.errors }}{% endif %}
            </div>
        </div>
    </div>
    {% endif %}

  <div class="col-sm-offset-3">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" name="save">
        Gem ændringer
      </button>
    </div>
  </div>
<br>&nbsp;<br>
      {% if form.validation_method %}
      <div class="form-group col-sm-12 clearfix">
        <div class="alert alert-warning clearfix" role="alert">
          <p>
            <span class="glyphicon glyphicon-ban-circle"></span>
            Dette domæne er endnu ikke valideret
          </p>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel-heading"></div>
              <div class="col-sm-5">
                <div class="form-group">
                  <div id="{{ form.validation_method.auto_id }}_container">
                    <div>{{ form.validation_method.label_tag }}</div>
                    <div>{{ form.validation_method.help_text }}</div>
                    <div>{{ form.validation_method }}</div>
                    <div id="{{ form.validation_method.auto_id }}_errors">
                      {{ form.validation_method.errors }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <div class="tab-content">
                    <p class="form-control-static">
                      Indsæt følgende
                    </p>
                    <div id="validation_method_desc_0" class="tab-pane {% if form.validation_method.value == 0 %} active {% endif %} schedule-pane" >
                      <pre style="margin-top:.7em;">{{valid_txt_0|escape}}</pre>
                    </div>
                    <div id="validation_method_desc_1" class="tab-pane {% if form.validation_method.value == 1 %} active {% endif %} schedule-pane" >
                      <pre style="margin-top:.7em;">{{valid_txt_1|escape}}</pre>
                    </div>
                    <div id="validation_method_desc_2" class="tab-pane {% if form.validation_method.value == 2 %} active {% endif %} schedule-pane" >
                      <pre style="margin-top:.7em;">{{valid_txt_2|escape}}</pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" name="save_and_validate"
                class="btn btn-default">
          Validér nu
        </button>
      </div>
      {% endif %}
    </form>
{% endblock %}
