{% extends 'os2webscanner/base.html' %}
{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% block jquery_script %}
<script type="text/javascript">
  (function($) {
    // adding a new expression
    $("#button-add-expression").click(function() {
      var inputField = $("#id_{{ form.match_string.name }}"); // @TODO: We should increment numbering of field
      var inputClone = $("<div/>", {
        class: "input-group match_string-container",
        html: inputField.clone().add($("<span/>", {
          class: "input-group-btn",
          html: $("<button/>", {
            class: "btn btn-default button-remove-expression",
            type: "button",
            text: "Fjern udtryk"
          })
        }))
      });
      inputClone.insertAfter(inputField);      
    });

    // removing an expression. We need to bind dynamically as fields do not necessarily exist on page load
    $("body").on("click", ".button-remove-expression", function() {
      var btn = $(this);
      var inputValue = btn.closest(".input-group-btn").prev("input").val();
      if(inputValue) {
        var confirmation = confirm("Feltet indeholder en værdi. Tryk OK hvis du stadig vil slette feltet.");
        if(confirmation) {
          btn.closest(".match_string-container").remove();
        }
      } else {
        btn.closest(".match_string-container").remove();
      }
    });
  })(jQuery);
</script>
{% endblock %}
{% block body %}

{% if form.non_field_errors %}
  <ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <p>Følgende felter er ikke udfyldt korrekt:</p>
  <ul>
    {% for error in form.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form class="form-horizontal" role="form" method="post">
{% csrf_token %}    
    
  <div id="{{ form.name.auto_id }}_container" class="col-sm-12{% if form.name.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.name.name }}">{{ form.name.label }}</label>
      <div class="col-sm-10">
	<input type="text" class="form-control" name="{{ form.name.name }}" id="id_{{ form.name.name }}" {% if form.name.value %}value="{{ form.name.value }}"{% endif %}>
	{% if form.name.help_text %}
	  <p>
            <small>{{ form.name.help_text }}</small>
          </p>
        {% endif %}
        {% if form.name.errors %}{{ form.name.errors }}{% endif %}
      </div>
    </div>
  </div>
  
  {% if form.organization %}
  <div id="{{ form.organization.auto_id }}_container" class="col-sm-12{% if form.organization.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.organization.name }}">{{ form.organization.label }}</label>
      <div class="col-sm-10">
        <select name="{{ form.organization.name }}" id="id_{{ form.organization.name }}" class="form-control">
          {% for value, tag in form.organization.field.choices %}
            <option value="{{ value }}"{% if form.organization.value|add:"0" == value|add:"0" %} selected{% endif %}>{{ tag }}</option>{# silly type conversion #}
          {% endfor %}
        </select>
        {% if form.organization.help_text %}
          <p>
            <small>{{ form.organization.help_text }}</small>
          </p>
        {% endif %}
        {% if form.organization.errors %}{{ form.organization.errors }}{% endif %}
      </div>
    </div>
  </div>
  {% endif %}    
  
  {% if form.group %}
  <div id="{{ form.group.auto_id }}_container" class="col-sm-12{% if form.group.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.group.name }}">{{ form.group.label }}</label>
      <div class="col-sm-10">
        <select name="{{ form.group.name }}" id="id_{{ form.group.name }}" class="form-control">
          {% for value, tag in form.group.field.choices %}
            <option value="{{ value }}"{% if form.group.value|add:"0" == value|add:"0" %} selected{% endif %}>{{ tag }}</option>{# silly type conversion #}
          {% endfor %}
        </select>
        {% if form.group.help_text %}
          <p>
            <small>{{ form.group.help_text }}</small>
          </p>
        {% endif %}
        {% if form.group.errors %}{{ form.group.errors }}{% endif %}
      </div>
    </div>
  </div>
  {% endif %}    

  <div id="{{ form.match_string.auto_id }}_container" class="col-sm-12{% if form.match_string.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.match_string.name }}">{{ form.match_string.label }}</label>
      <div class="col-sm-10">
	<input type="text" class="form-control" name="{{ form.match_string.name }}" id="id_{{ form.match_string.name }}" {% if form.match_string.value %}value="{{ form.match_string.value }}"{% endif %}>
	{% if form.match_string.help_text %}
	  <p>
            <small>{{ form.match_string.help_text }}</small>
          </p>
        {% endif %}
        {% if form.match_string.errors %}{{ form.match_string.errors }}{% endif %}
        <button id="button-add-expression" type="button" class="btn btn-default">Tilføj udtryk</button>
      </div>
    </div>
  </div>

  <div id="{{ form.description.auto_id }}_container" class="col-sm-12{% if form.description.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.description.name }}">{{ form.description.label }}</label>
      <div class="col-sm-10">
	<textarea class="form-control" name="{{ form.description.name }}" id="id_{{ form.description.name }}" rows="3">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
	{% if form.description.help_text %}
	  <p>
            <small>{{ form.description.help_text }}</small>
          </p>
        {% endif %}
        {% if form.description.errors %}{{ form.description.errors }}{% endif %}
      </div>
    </div>
  </div>

  <div id="{{ form.sensitivity.auto_id }}_container" class="col-sm-12{% if form.sensitivity.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.sensitivity.name }}">{{ form.sensitivity.label }}</label>
      <div class="col-sm-10">
	<select name="{{ form.sensitivity.name }}" id="id_{{ form.sensitivity.name }}" class="form-control">
          {% for value, tag in form.sensitivity.field.choices %}
            <option value="{{ value }}"{% if form.sensitivity.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option>
          {% endfor %}
        </select>
        {% if form.sensitivity.help_text %}
          <p>
            <small>{{ form.sensitivity.help_text }}</small>
          </p>
        {% endif %}
        {% if form.sensitivity.errors %}{{ form.sensitivity.errors }}{% endif %}
      </div>
    </div>
  </div>

  <div class="col-sm-offset-2">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" name="save">
        Gem ændringer
      </button>
    </div>
  </div>

    {#{ form.as_p }#}
</form>
{% endblock %}
