{% extends 'os2webscanner/base.html' %}
{%  block title %}
Rapporter
{% endblock %}

{% block body %}
      <div class="table-responsive">
		<table class="table table-striped">
          <thead>
            <tr>
              <td>
                <strong>
                  <small>
                    Scanner
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Udført
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Status
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Handling
                  </small>
                </strong>
              </td></tr>
          </thead>
          <tbody>
          {% for scan in scan_list %}
            <tr>
              <td class="report-domain">
                <span>
                    {{ scan.scanner.name }}
                </span>
              </td>
              <td class="report-scandate">
                  <span>{{ scan.start_time }}</span>
              </td>
              <td class="report-status">
                  <span>{{ scan.get_status_display }}</span>
              </td>
              <td class="report-actions">
                <a class="btn btn-sm btn-default"
                   href="/report/{{scan.pk}}"><span class="glyphicon glyphicon-tasks"></span> Vis rapport</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
{% endblock %}

{% block heading %} 
Rapporter 
{% endblock %}

{% block modal %}
{% endblock %}

{% block reports_active %}
class="active"
{% endblock %}
