{% extends 'os2webscanner/base_report.html' %}
{% block rendertype %}regular{% endblock %}
{%  block title %}
Rapport &dash; {{scan.scanner.name}}
{% endblock %}

{% block body %}
      <p class="lead">
	<a href="{{ reports_url }}">&larr; Klik her for at vise listen over rapporter</a>
      </p>
      <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td>Starttidspunkt:</td>
                <td>{{ scan.start_time }}</td>
            </tr>
            <tr>
                <td>Sluttidspunkt:</td>
                <td>{{ scan.end_time }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ scan.get_status_display }}</td>
            </tr>
            <tr>
                <td>Totalt antal matches:</td>
                <td>{{ no_of_matches }}</td>
            </tr>
	    {% if failed_conversions %}
            <tr>
                <td>Fejlede dokument-konverteringer under scanningen:</td>
                <td>{{ failed_conversions }}</td>
            </tr>
	    {% endif %}
            </tbody>
        </table>
      </div>
      <p> {% if no_of_matches > 100 %}
      Kun de første 100 resultater vises.
      {% endif %}
	<a href="./csv/">Klik her for at downloade hele rapporten</a>
      </p>
      <div class="table-responsive">
		<table class="table table-striped">
          <thead>
            <tr>
              <td>
                <strong>
                  <small>
                    URL
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Regel
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Match
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Følsomhed
                  </small>
                </strong>
              </td></tr>
          </thead>
          <tbody>
          {% for match in matches %}
              <tr class="{{ match.get_sensitivity_class }}">
                  <td class="match-url">
                    <span>
                        <a href="{{ match.url.url }}">{{ match.url.url }}</a>
                    </span>
                  </td>
                  <td class="match-rule">
                      <span>{{ match.get_matched_rule_display }}</span>
                  </td>
                  <td class="match-data">
                      <span>{{ match.matched_data }}</span>
                  </td>
                  <td class="match-sensitivity">
                      <span>{{ match.get_sensitivity_display }}</span>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>

      {% if broken_urls %}
        <h2>Broken Links</h2>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td>Totalt antal broken links:</td>
                <td>{{ no_of_broken_links }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>
                    <strong>
                        <small>
                            Referrers
                        </small>
                    </strong>
                </td>
                <td>
                    <strong>
                        <small>
                            URL
                        </small>
                    </strong>
                </td>
                <td>
                    <strong>
                        <small>
                            Status
                        </small>
                    </strong>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for url in broken_urls %}
            <tr class="danger">
                <td class="broken-url-referrers">
                    {% with url.referrers.all as referrers %}
                        {% for referrer in referrers|slice:":5" %}
                        <p>
                            <a href="{{referrer}}">{{ referrer }}</a>
                        </p>
                        {% endfor %}
                        {% if referrers|length > 5 %}
                            {% if full_report %}
                                {% for referrer in referrers|slice:"5:" %}
                                <p>
                                    <a href="{{referrer}}">{{ referrer }}</a>
                                </p>
                                {% endfor %}
                            {% else %}
                                <p>
                                    <a href="full/#broken_url{{url.id}}">
                                        {{ referrers|length|add:-5 }}
                                        flere referrers...
                                    </a>
                                </p>
                            {% endif %}
                        {%  endif %}
                    {% endwith %}
                </td>
                <td class="broken-url-url">
                        <span>
                            <a href="{{ url.url }}"
                               name="broken_url{{url.id}}">{{ url.url }}</a>
                        </span>
                </td>
                <td class="broken-url-status">
                    <span>{{ url.status_message }}</span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    {% endif %}
{% endblock %}

{% block heading %}
Rapport &dash; {{scan.scanner.name}}
{% endblock %}
