{% extends 'os2webscanner/base.html' %}
{% block rendertype %}regular{% endblock %}
{%  block title %}
Regler
{% endblock %}

{% block body %}

    <div class="table-responsive">
		<table class="table table-striped">
          <thead>
            <tr>
              <td>
                <strong>
                  <small>
                    Navn
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Beskrivelse
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Regulært udtryk
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Følsomhed
                  </small>
                </strong>
              </td>
              <td>
                <strong>
                  <small>
                    Handling
                  </small>
                </strong>
              </td>
            </tr>
          </thead>
          <tbody>
          {% for rule in regexrule_list %}
            <tr>
              <td class="rule-name">
                <span>
                    {{ rule.name }}
                </span>
              </td>
              <td class="rule-description">
                <span>
                    {{ rule.description }}
                </span>
              </td>
              <td class="rule-expression">
                  <code>{{ rule.match_string }}</code>
              </td>
              <td class="rule-sensitivity">
                <span>
                    {{ rule.get_sensitivity_display }}
                </span>
              </td>
              <td class="rule-actions">
                <button type="button" class="btn btn-default btn-xs btn-rule-settings"
		onclick="os2web.iframeDialog(
		      &quot;#edit-rule-modal&quot;,
		      &quot;/rules/{{rule.pk}}&quot;,
		      &quot;Redigér regel '{{rule.name}}'&quot;
		  )">
              	  <span class="glyphicon glyphicon-cog"></span><span class="sr-only">Indstillinger for regel</span>
				</button>
                <span>
                    <a href="/rules/{{rule.pk}}/delete/">Slet regel</a>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}

{% block heading %} 
Regler 
<small class="page-action" style="float:right;">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-rule-modal">
        Tilføj ny 
        <span style="position:relative;top:.15em;" class="glyphicon glyphicon-plus-sign">
        </span>
    </button>
</small>

{% endblock %}

{% block modal %}
<div class="modal iframe" id="create-rule-modal" tabindex="-1" role="dialog"
  aria-labelledby="create-rule-modal-title" aria-hidden="true"
  data-href="/rules/add/">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="create-rule-modal-title">
	  Opret ny regel
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"
	  width="550" height="650"></iframe>
      </div>
      <div class="modal-footer">
	<div class="btn-group"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal iframe" id="edit-rule-modal" tabindex="-1" role="dialog"
  aria-labelledby="edit-rule-modal-title" aria-hidden="true"
  data-href="/rules/add/">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="edit-rule-modal-title">
	  Opret ny regel
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"
	  width="550" height="650"></iframe>
      </div>
      <div class="modal-footer">
	<div class="btn-group"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block rules_active %}
class="active"
{% endblock %}
