{% extends 'os2webscanner/base.html' %}
{% block rendertype %}regular{% endblock %}
{%  block title %}
Regelsæt
{% endblock %}

{% load static %}
{% block jquery_script %}
<script src="{% static "js/ruleselector.js" %}"></script>
{% endblock %}
{% block body %}
<div class="container">
  {% include 'os2webscanner/rules_above_content.html' with active='rulesets' %}
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="adhoc">
      <p class="h2" style="display:inline-block;">Regelsæt</p>
      <span class="page-action">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-ruleset-modal">
          Tilføj ny
          <span style="position:relative;top:.15em;" class="glyphicon glyphicon-plus-sign"></span>
        </button>
      </span>
      <form name="rulesets"{% if form.regex_rules.errors %} class="has-error"{% endif %}>
        <p>TODO: Titel</p>
        <p>TODO: Description</p>
        <p>TODO: Feltet med valgte regler skal være forudfyldt når man redigerer et eksisterende regelsæt</p>
        <div id="selected_rules_container" class="clearfix">
          <ul id="selected_rules"></ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="rules_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Tilføj regel
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="available_rules" aria-labelledby="rules_list">
            <li class="dropdown-header">Systemregler</li>
            <li data-rule-id="1"><a href="#" data-toggle="tooltip" data-placement="left" title="Beskrivelse af regel">CPR</a></li>
            <li data-rule-id="2"><a href="#" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Check links</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">{{ form.regex_rules.label }}</li>
            {% for value, tag in form.regex_rules.field.choices %}
            <li data-rule-id="{{ value }}"><a href="#" data-toggle="tooltip" data-placement="left" title="{{ description }}">{{ tag }}</a></li>
            {% endfor %}
            <li data-rule-id="3"><a href="#">Adgangsstatus</a></li>
            <li data-rule-id="4"><a href="#">Supplerende adg. status</a></li>
          </ul>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>
                <strong>
                <small>
                Navn
                </small>
                </strong>
              </td>
              {% if user.is_superuser %}
              <td>
                <strong>
                <small>
                Organisation
                </small>
                </strong>
              </td>
              {% endif %}
              <td>
                <strong>
                <small>
                Beskrivelse
                </small>
                </strong>
              </td>
              <td>
                <strong>
                <small>
                Regler
                </small>
                </strong>
              </td>
              <td>
                <strong>
                <small>
                Følsomhed
                </small>
                </strong>
              </td>
              <td>
                <strong>
                <small>
                Handling
                </small>
                </strong>
              </td>
            </tr>
          </thead>
          <tbody>
            {% for rule in regexrule_list %}
            <tr>
              <td class="rule-name">
                <span>
                {{ rule.name }}
                </span>
              </td>
              {% if user.is_superuser %}
              <td class="rule-organization">
                <span>
                {{ rule.organization }}
                </span>
              </td>
              {% endif %}
              <td class="rule-description">
                <span>
                {{ rule.description }}
                </span>
              </td>
              <td class="rule-expression">
                <code>{{ rule.match_string }}</code>
              </td>
              <td class="rule-sensitivity">
                <span>
                {{ rule.get_sensitivity_display }}
                </span>
              </td>
              <td class="rule-actions">
                <button type="button" class="btn btn-default btn-xs btn-rule-settings"
                  onclick="os2web.iframeDialog(
                  &quot;#edit-rule-modal&quot;,
                  &quot;/rules/{{rule.pk}}&quot;,
                  &quot;Redigér ad hoc-regel '{{rule.name}}'&quot;
                  )">
                <span class="glyphicon glyphicon-cog"></span> <span>Redigér</span>
                </button>
                <a href="/rules/{{rule.pk}}/delete/" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
                <span>Slet</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block heading %}
Regler
{% endblock %}

{% block modal %}
<div class="modal iframe" id="create-ruleset-modal" tabindex="-1" role="dialog"
  aria-labelledby="create-ruleset-modal-title" aria-hidden="true"
  data-href="/rules/add/">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="create-ruleset-modal-title">
	  Opret nyt regelsæt
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="modal iframe" id="edit-ruleset-modal" tabindex="-1" role="dialog"
  aria-labelledby="edit-ruleset-modal-title" aria-hidden="true"
  data-href="/rules/add/">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="edit-ruleset-modal-title">
	  Redigér regelsæt
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block rules_active %}
class="active"
{% endblock %}
