{% extends 'os2webscanner/base.html' %}
{% block rendertype %}regular{% endblock %}
{%  block title %}
Regler
{% endblock %}

{% block body %}
<div class="container">
  <p class="lead">Definér ad hoc-regler til brug på et eller flere specifikke scannerjob. Faste regler gælder for alle scannerjob.</p>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#adhoc" aria-controls="adhoc" role="tab" data-toggle="tab">Ad hoc-regler</a></li>
    <li role="presentation"><a href="#organization" aria-controls="organization" role="tab" data-toggle="tab">Faste regler</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="adhoc">
      <p class="h2" style="display:inline-block;">Ad hoc-regler</p>
      <span class="page-action">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-rule-modal">
          Tilføj ny 
          <span style="position:relative;top:.15em;" class="glyphicon glyphicon-plus-sign"></span>
        </button>
      </span>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>
                <strong>
                <small>
                Navn
                </small>
                </strong>
              </td>
              {% if user.is_superuser %}
              <td>
                <strong>
                <small>
                Organisation
                </small>
                </strong>
              </td>
              {% endif %}
              <td>
                <strong>
                <small>
                Beskrivelse
                </small>
                </strong>
              </td>
              <td>
                <strong>
                <small>
                Regulært udtryk
                </small>
                </strong>
              </td>
              <td>
                <strong>
                <small>
                Følsomhed
                </small>
                </strong>
              </td>
              <td>
                <strong>
                <small>
                Handling
                </small>
                </strong>
              </td>
            </tr>
          </thead>
          <tbody>
            {% for rule in regexrule_list %}
            <tr>
              <td class="rule-name">
                <span>
                {{ rule.name }}
                </span>
              </td>
              {% if user.is_superuser %}
              <td class="rule-organization">
                <span>
                {{ rule.organization }}
                </span>
              </td>
              {% endif %}
              <td class="rule-description">
                <span>
                {{ rule.description }}
                </span>
              </td>
              <td class="rule-expression">
                <code>{{ rule.match_string }}</code>
              </td>
              <td class="rule-sensitivity">
                <span>
                {{ rule.get_sensitivity_display }}
                </span>
              </td>
              <td class="rule-actions">
                <button type="button" class="btn btn-default btn-xs btn-rule-settings"
                  onclick="os2web.iframeDialog(
                  &quot;#edit-rule-modal&quot;,
                  &quot;/rules/{{rule.pk}}&quot;,
                  &quot;Redigér ad hoc-regel '{{rule.name}}'&quot;
                  )">
                <span class="glyphicon glyphicon-cog"></span> <span>Redigér</span>
                </button>
                <a href="/rules/{{rule.pk}}/delete/" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
                <span>Slet</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane" role="tabpanel" id="organization">
      <p class="h2" style="display:inline-block;">Faste regler</p>
      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        <p>Følgende felter er ikke udfyldt korrekt:</p>
        <ul>
          {% for error in form.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}    
        <!-- Whitelists & blacklists -->
        <div id="{{ form.name_whitelist.auto_id }}_container" class="col-sm-12{% if form.name_whitelist.errors %} has-error{% endif %}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="id_{{ form.name_whitelist.name }}">{{ form.name_whitelist.label }}</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="{{ form.name_whitelist.name }}" id="id_{{ form.name_whitelist.name }}" rows="3">{% if form.name_whitelist.value %}{{ form.name_whitelist.value }}{% endif %}</textarea>
              {% if form.name_whitelist.help_text %}
              <p>
                <small>{{ form.name_whitelist.help_text }}</small>
              </p>
              {% endif %}
              {% if form.name_whitelist.errors %}{{ form.name_whitelist.errors }}{% endif %}
            </div>
          </div>
        </div>
        <div id="{{ form.name_blacklist.auto_id }}_container" class="col-sm-12{% if form.name_blacklist.errors %} has-error{% endif %}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="id_{{ form.name_blacklist.name }}">{{ form.name_blacklist.label }}</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="{{ form.name_blacklist.name }}" id="id_{{ form.name_blacklist.name }}" rows="3">{% if form.name_blacklist.value %}{{ form.name_blacklist.value }}{% endif %}</textarea>
              {% if form.name_blacklist.help_text %}
              <p>
                <small>{{ form.name_blacklist.help_text }}</small>
              </p>
              {% endif %}
              {% if form.name_blacklist.errors %}{{ form.name_blacklist.errors }}{% endif %}
            </div>
          </div>
        </div>
        <div id="{{ form.address_whitelist.auto_id }}_container" class="col-sm-12{% if form.address_whitelist.errors %} has-error{% endif %}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="id_{{ form.address_whitelist.name }}">{{ form.address_whitelist.label }}</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="{{ form.address_whitelist.name }}" id="id_{{ form.address_whitelist.name }}" rows="3">{% if form.address_whitelist.value %}{{ form.address_whitelist.value }}{% endif %}</textarea>
              {% if form.address_whitelist.help_text %}
              <p>
                <small>{{ form.address_whitelist.help_text }}</small>
              </p>
              {% endif %}
              {% if form.address_whitelist.errors %}{{ form.address_whitelist.errors }}{% endif %}
            </div>
          </div>
        </div>
        <div id="{{ form.address_blacklist.auto_id }}_container" class="col-sm-12{% if form.address_blacklist.errors %} has-error{% endif %}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="id_{{ form.address_blacklist.name }}">{{ form.address_blacklist.label }}</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="{{ form.address_blacklist.name }}" id="id_{{ form.address_blacklist.name }}" rows="3">{% if form.address_blacklist.value %}{{ form.address_blacklist.value }}{% endif %}</textarea>
              {% if form.address_blacklist.help_text %}
              <p>
                <small>{{ form.address_blacklist.help_text }}</small>
              </p>
              {% endif %}
              {% if form.address_blacklist.errors %}{{ form.address_blacklist.errors }}{% endif %}
            </div>
          </div>
        </div>
        <div id="{{ form.cpr_whitelist.auto_id }}_container" class="col-sm-12{% if form.cpr_whitelist.errors %} has-error{% endif %}">
          <div class="form-group">
            <label class="control-label col-sm-2" for="id_{{ form.cpr_whitelist.name }}">{{ form.cpr_whitelist.label }}</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="{{ form.cpr_whitelist.name }}" id="id_{{ form.cpr_whitelist.name }}" rows="3">{% if form.cpr_whitelist.value %}{{ form.cpr_whitelist.value }}{% endif %}</textarea>
              {% if form.cpr_whitelist.help_text %}
              <p>
                <small>{{ form.cpr_whitelist.help_text }}</small>
              </p>
              {% endif %}
              {% if form.cpr_whitelist.errors %}{{ form.cpr_whitelist.errors }}{% endif %}
            </div>
          </div>
        </div>
        <!-- Ye olde, famous Save button -->
        <div class="col-sm-offset-2">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" name="save">
            Gem ændringer
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}

{% block heading %} 
Regler
{% endblock %}

{% block modal %}
<div class="modal iframe" id="create-rule-modal" tabindex="-1" role="dialog"
  aria-labelledby="create-rule-modal-title" aria-hidden="true"
  data-href="/rules/add/">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="create-rule-modal-title">
	  Opret ny ad hoc-regel
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="modal iframe" id="edit-rule-modal" tabindex="-1" role="dialog"
  aria-labelledby="edit-rule-modal-title" aria-hidden="true"
  data-href="/rules/add/">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="edit-rule-modal-title">
	  Redigér ad hoc-regel
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block rules_active %}
class="active"
{% endblock %}
