{% extends 'os2webscanner/base.html' %}
{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% load static %}
{%block jquery_script %}
<script src="{% static "js/ruleselector.js" %}"></script>
<script type="text/javascript">
  (function(os2web, $) {
    // hook listener to change event of system rules in order to handle sub-choices
    $("#id_{{ form.do_cpr_scan.name }}, #id_{{ form.do_link_check.name }}, #id_{{ form.do_last_modified_check.name }}").change(function() {
      handleSubChoices($(this));
    });
    $(document).ready(function() {
      // Init sub-choices with correct values (make sure they can't be 1 if parent system rule is 0)
      {% if not form.do_cpr_scan.value %}
      handleSubChoices($("#id_{{ form.do_cpr_scan.name }}"));
      {% endif %}

      {% if not form.do_link_check.value %}
      handleSubChoices($("#id_{{ form.do_link_check.name }}"));
      {% endif %}

      {% if not form.do_last_modified_check.value %}
      handleSubChoices($("#id_{{ form.do_last_modified_check.name }}"));
      {% endif %}
    });
  })(os2web, jQuery);
</script>
{% endblock %}
{% block body %}

{% if form.non_field_errors %}
  <ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <p>Følgende felter er ikke udfyldt korrekt:</p>
  <ul>
    {% for error in form.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form class="form-horizontal" role="form" method="post" name="rulesets">
  {% csrf_token %}
  <div id="{{ form.name.auto_id }}_container" class="col-sm-12{% if form.name.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.name.name }}">{{ form.name.label }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="{{ form.name.name }}" id="id_{{ form.name.name }}" {% if form.name.value %}value="{{ form.name.value }}" {% endif %}>
        {% if form.name.help_text %}
        <p>
          <small>{{ form.name.help_text }}</small>
        </p>
        {% endif %} {% if form.name.errors %}{{ form.name.errors }}{% endif %}
      </div>
    </div>
  </div>
  <div id="{{ form.description.auto_id }}_container" class="col-sm-12{% if form.description.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.description.name }}">{{ form.description.label }}</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="{{ form.description.name }}" id="id_{{ form.description.name }}" rows="3">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        {% if form.description.help_text %}
        <p>
          <small>{{ form.description.help_text }}</small>
        </p>
        {% endif %} {% if form.description.errors %}{{ form.description.errors }}{% endif %}
      </div>
    </div>
  </div>

  <div id="{{ form.sensitivity.auto_id }}_container" class="col-sm-12{% if form.sensitivity.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.sensitivity.name }}">{{ form.sensitivity.label }}</label>
      <div class="col-sm-10">
        <select name="{{ form.sensitivity.name }}" id="id_{{ form.sensitivity.name }}" class="form-control">
          {% for value, tag in form.sensitivity.field.choices %}
            <option value="{{ value }}"{% if form.sensitivity.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option>
          {% endfor %}
        </select>
        {% if form.sensitivity.help_text %}
        <p>
          <small>{{ form.sensitivity.help_text }}</small>
        </p>
        {% endif %} {% if form.sensitivity.errors %}{{ form.sensitivity.errors }}{% endif %}
      </div>
    </div>
  </div>
  <p>TODO: Feltet med valgte regler skal være forudfyldt når man redigerer et eksisterende regelsæt</p>
  <p>TODO: .checkbox-group > input skal have django ID'er ligesom i scanner_form.html</p>
  <div id="selected_rules_container" class="col-sm-12">
    <div class="form-group">
      <span class="control-label col-sm-2">Valgte regler</span>
      <div class="col-sm-10">
        {% include 'os2webscanner/rules_selector.html' %}
      </div>
    </div>
  </div>

  <div class="col-sm-offset-2">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" name="save">
        Gem ændringer
      </button>
    </div>
  </div>

  {#{ form.as_p }#}
</form>
{% endblock %}
