<p class="lead">Definér ad hoc-regler til brug på et eller flere specifikke scannerjob. Faste regler gælder for alle scannerjob.</p>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"{% if active == 'adhoc' %} class="active"{% endif %}><a href="/rules/" role="tab">Ad hoc-regler</a></li>
  <li role="presentation"{% if active == 'organization' %} class="active"{% endif %}><a href="/rules/organization/" role="tab">Faste regler</a></li>
  <li role="presentation"{% if active == 'rulesets' %} class="active"{% endif %}><a href="/rulesets/" role="tab">Regelsæt</a></li>
</ul>
