<div id="selected_rules" class="clearfix">
  <div class="checkbox-group">
    <input type="checkbox" id="id_do_cpr_scan" name="{{ form.do_cpr_scan.name }}" value="{{ form.do_cpr_scan.name }}" {% if form.do_cpr_scan.value %} checked="checked" {% endif %}><label for="id_{{ form.do_cpr_scan.name }}">
      CPR
      {% if form.do_cpr_scan.help_text %}<small>{{ form.do_cpr_scan.help_text }}</small>{% endif %}
    </label>
    <input type="checkbox" id="id_{{ form.do_cpr_modulus11.name }}" name="{{ form.do_cpr_modulus11.name }}" value="{{ form.do_cpr_modulus11.name }}" {% if form.do_cpr_modulus11.value %} checked="checked" {% endif %}>
    <label class="cpr_option" for="id_{{ form.do_cpr_modulus11.name }}">
      Tjek modulus-11
      {% if form.do_cpr_modulus11.help_text %}<small>{{ form.do_cpr_modulus11.help_text }}</small>{% endif %}
    </label>
    <input type="checkbox" id="id_{{ form.do_cpr_ignore_irrelevant.name }}" name="{{ form.do_cpr_ignore_irrelevant.name }}" value="{{ form.do_cpr_ignore_irrelevant.name }}" {% if form.do_cpr_ignore_irrelevant.value %} checked="checked" {% endif %}>
    <label class="cpr_option" for="id_{{ form.do_cpr_ignore_irrelevant.name }}">
      Ignorer ugyldige fødselsdatoer
      {% if form.do_cpr_ignore_irrelevant.help_text %}<small>{{ form.do_cpr_ignore_irrelevant.help_text }}</small>{% endif %}
    </label>
  </div>
  <div id="rules_list" class="dropup">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Tilføj regel
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu-right dropdown-menu" id="available_rules" aria-labelledby="rules_list">
      <li class="dropdown-header">Filtrer</li>
      <li><input type="text" id="rule-filter" placeholder="Indtast mindst tre bogstaver"></li>

      <li class="dropdown-header">Systemregler</li>
      <li class="rule" data-systemrule-target="do_cpr_scan"><a href="#" title="Beskrivelse af regel">CPR</a></li>

      <li class="dropdown-header">Regex regler{{ form.regex_rules.label }}</li>
      {% for value, tag in form.regex_rules.field.choices %}
      <li class="rule" data-rule-id="{{ value }}"><a href="#" data-toggle="tooltip" data-placement="left" title="{{ description }}">{{ tag }}</a></li>
      {% endfor %}
      <li class="rule" data-rule-id="3"><a href="#" data-toggle="tooltip" data-placement="left" title="Adgangsstatus">Adgangsstatus</a></li>
      <li class="rule" data-rule-id="4"><a href="#">Supplerende adg. status</a></li>
      <li class="rule" data-rule-id="5"><a href="#">Lorem</a></li>
      <li class="rule" data-rule-id="6"><a href="#">Ipsum</a></li>
      <li class="rule" data-rule-id="7"><a href="#">Dolor</a></li>
      <li class="rule" data-rule-id="8"><a href="#">Sit</a></li>
      <li class="rule" data-rule-id="9"><a href="#">Amet</a></li>
      <li class="rule" data-rule-id="10"><a href="#">Consectetur</a></li>
      <li class="rule" data-rule-id="11"><a href="#">Adipiscing</a></li>
      <li class="rule" data-rule-id="12"><a href="#">Elit</a></li>
    </ul>
  </div>
</div>
