{% extends 'os2webscanner/base.html' %}
{%  block title %}
Scannere
{% endblock %}
{% block scanners_active %}
class="active"
{% endblock %}

{% block body %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<td>
	  <strong>
	    <small>
	      Beskrivelse
	    </small>
	  </strong>
	</td>
	<td>
	  <strong>
	    <small>
	      Kørsel
	    </small>
	  </strong>
	</td>
	<td>
	  <strong>
	    <small>
	      Handling
	    </small>
	  </strong>
	</td>
      </tr>
    </thead>
    <tbody>
    {% for scanner in scanner_list %}
      <tr>
	<td class="scanner-description">
	  <span>
	      {{scanner.name}}
	  </span>
	</td>
	<td class="scanner-runtime">
	  <span class="scanner-schedule-description">
	      {{scanner.schedule_description}}
	  </span>

	</td>
	<td class="scanner-actions">
	  <span class="scanner-status">
	    Klar
	  </span>

	  <button type="button" class="btn btn-default btn-xs btn-scanner-start">
	    <span class="glyphicon glyphicon-play">
	    </span>

	    <span class="sr-only">
	      Start scanner
	    </span>
	  </button>
	  <button type="button" class="btn btn-default btn-xs btn-scanner-settings">
	    <span class="glyphicon glyphicon-cog">
	    </span>

	    <span class="sr-only">
	      Indstillinger for scanner
	    </span>

	  </button>
	  <span>
	      <a href="/scanners/{{scanner.pk}}/delete/">Slet scanner</a>
	  </span>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block heading %} 
Scannere 
<small class="page-action" style="float:right;">
    <button type="button" class="btn btn-default"
        data-toggle="modal" data-target="#create-scanner-modal">
        Tilføj ny 
        <span
            style="position:relative;top:.15em;"
            class="glyphicon glyphicon-plus-sign">
        </span>
    </button>
</small>
{% endblock %}

{% block modal %}
<div class="modal" id="create-scanner-modal" tabindex="-1" role="dialog"
    aria-labelledby="create-scanner-modal-title" aria-hidden="true"
    data-href="/scanners/add/">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="create-scanner-modal-title">
	  Opret ny scanner
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"
	  width="550" height="650"></iframe>
      </div>
      <div class="modal-footer">
	{% if 0 %}{# disable for now #}
	<div class="btn-group">
	  <button type="button" class="btn btn-default" data-dismiss="modal">
	    Luk
	  </button>
	  <button type="button" class="btn btn-primary">
	    Gem ændringer
	  </button>
	</div>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jquery_script %}
<script type="text/javascript"><!--
$('#create-scanner-modal').on('shown.bs.modal', function() {
  var $this = $(this), src = $this.attr("data-href"), onload_handler;
  if(src)
    $this.find('iframe').first().attr("src", src);
})
//--></script>
{% endblock %}

{#
Gammel form

	<form class="form-horizontal" role="form">
	  <div class="form-group col-sm-12">
	    <label for="field-scanner-description">
	      Beskrivelse
	    </label>
	    <input type="text" class="form-control" id="field-scanner-description">
	  </div>
	  <ul class="nav nav-tabs" style="margin-bottom:1em;">
	    <li class="active"><a href="#interval" data-toggle="tab">Interval</a></li>
	    <li><a href="#domains" data-toggle="tab">Domæner</a></li>
	    <li><a href="#rules" data-toggle="tab">Regler</a></li>
	  </ul>
	  <div class="tab-content">
	      <div class="tab-pane active" id="interval">
		  <div class="form-group">
		      <div class="col-sm-6">
			<div class="radio">
			  <label>
			    <input type="radio" name="field-scanner-runtime" value="runtime-weekdays" id="runtime-weekdays" checked>
			    Kør på følgende dage
			  </label>
			</div>
			<div class="col-sm-6">
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="field-run-mondays" value="field-run-mondays" >
			      mandag
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="field-run-tuesdays" value="field-run-tuesdays" >
			      tirsdag
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="field-run-wednesdays" value="field-run-wednesdays" >
			      onsdag
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="field-run-thursdays" value="field-run-thursdays" >
			      torsdag
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="field-run-fridays" value="field-run-fridays" >
			      fredag
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="field-run-saturdays" value="field-run-saturdays" >
			      lørdag
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="field-run-sundays" value="field-run-sundays" >
			      søndag
			    </label>
			  </div>
			</div>
			<div class="col-sm-6">
			  <p class="form-control-static">
			    <a href="#">
			      alle dage
			    </a>
			  </p>
			  <p class="form-control-static">
			    <a href="#">
			      hverdage
			    </a>
			  </p>
			  <p class="form-control-static">
			    <a href="#">
			      weekend
			    </a>
			  </p>
			</div>
		      </div>
		      <div class="col-sm-6">
			<div class="radio">
			  <label>
			    <input type="radio" name="field-scanner-runtime" value="runtime-specific-date" id="runtime-specific-date">
			    Kør på følgende dato
			  </label>
			</div>
			<div class="col-sm-12" style="margin-top:1em;">
			  <label for="field-scanner-date" class="sr-only">Vælg dato</label>
			  <input type="text" class="form-control" id="field-scanner-date">
			  <span style="float:right;position:relative;top:-1.75em;margin-right:.5em;" class="glyphicon glyphicon-calendar"></span>
			  <label for="field-scanner-repeat-every" class="sr-only">Angiv gentagelse(r)</label>
			  <select class="form-control" id="field-scanner-repeat-every">
			    <option selected id="field-scanner-no-repeat" value="field-scanner-no-repeat">Gentag ikke</option>
			    <option id="field-scanner-repeat-twoweeks" value="field-scanner-repeat-twoweeks">Gentag hver 2. uge</option>
			    <option id="field-scanner-repeat-monthly" value="field-scanner-no-repeat">Gentag månedligt</option>
			    <option id="field-scanner-repeat-yearly" value="field-scanner-repeat-yearly">Gentag årligt</option>
			   </select>
			</div>
		      </div>
		      <div class="col-sm-6">
			<p style="margin-top:1em;">Kørselstidspunkt <span class="glyphicon glyphicon-time"></span></p>
			<div class="col-sm-4">
			    <label for="field-scanner-run-hour" class="sr-only">Tidspunkt (time)</label>
			    <input style="width:100%;" type="number" name="field-scanner-run-hour" id="field-scanner-run-hour" min="0" max="23" placeholder="tt">
			</div>
			<div class="col-sm-4">
			    <label for="field-scanner-run-minute" class="sr-only">Tidspunkt (minut)</label>
			    <input style="width:100%;" type="number" name="field-scanner-run-minute" id="field-scanner-run-minute" min="0" max="59" placeholder="mm">
			</div>
		      </div>
		  </div>
	      </div>
	      <div class="tab-pane" id="domains">
		    <div class="form-group">
		    <div class="col-sm-12">
			<label for="field-scanner-domains">Vælg domæne(r) <small>&mdash; CTRL-klik (CMD på Mac) for at vælge flere</small></label>
			<select multiple class="form-control" id="field-scanner-domains">
			    <option id="domain-xyz-unique-name" value="domain-xyz-unique-name">Domæne XYZ</option>
			    <option id="domain-abc-unique-name" value="domain-abc-unique-name">Domæne ABC</option>
			    <option id="domain-klm-unique-name" value="domain-klm-unique-name">Domæne KLM</option>
			</select>
		    </div>
		</div>
	      </div>
	      <div class="tab-pane" id="rules">
		    <div class="form-group">
		    <div class="col-sm-12">
			<label for="field-scanner-rules">Vælg regel(er) <small>&mdash; CTRL-klik (CMD på Mac) for at vælge flere</small></label>
			<select multiple class="form-control" id="field-scanner-rules">
			    <option id="rule-xyz-unique-name" value="rule-xyz-unique-name">Regel XYZ</option>
			    <option id="rule-abc-unique-name" value="rule-abc-unique-name">Regel ABC</option>
			    <option id="rule-klm-unique-name" value="rule-klm-unique-name">Regel KLM</option>
			</select>
		    </div>
		</div>
		    <div class="form-group">
		    <div class="col-sm-12">
			<label for="field-scanner-newrule">Indtast udtryk til brug ved denne scanning, adskilt af linjeskift</label>
			<textarea class="form-control" id="field-scanner-newrule" rows="3"></textarea>
		    </div>
		</div>
	      </div>
	  </div>
	</form>
#}