{% extends 'os2webscanner/base.html' %}
{%  block title %}
Scannere
{% endblock %}
{% block scanners_active %}
class="active"
{% endblock %}

{% block body %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<td>
	  <strong>
	    <small>
	      Beskrivelse
	    </small>
	  </strong>
	</td>
	<td>
	  <strong>
	    <small>
	      Kørsel
	    </small>
	  </strong>
	</td>
	<td>
	  <strong>
	    <small>
	      Handling
	    </small>
	  </strong>
	</td>
      </tr>
    </thead>
    <tbody>
    {% for scanner in scanner_list %}
      <tr>
	<td class="scanner-description">
	  <span>
	      {{scanner.name}}
	  </span>
	</td>
	<td class="scanner-runtime">
	  <span class="scanner-schedule-description">
	      {{scanner.schedule_description}}
	  </span>

	</td>
	<td class="scanner-actions">
	  <span class="scanner-status">
	    {% if not scanner.has_active_scans %}
          Klar
        {% else %}
          Aktiv
        {% endif %}
	  </span>

	  <button type="button"
	    class="btn btn-default btn-xs btn-scanner-settings"
	    onclick="os2web.iframeDialog(
		&quot;#run-scanner-modal&quot;,
		&quot;/scanners/{{scanner.pk}}/askrun/&quot;,
                &quot;Kør scanner '{{scanner.name}}'&quot;)">
	    <span class="glyphicon glyphicon-play">
	    </span>
	  </button>
	  <button type="button"
	    class="btn btn-default btn-xs btn-scanner-settings"
	    onclick="os2web.iframeDialog(
		&quot;#edit-scanner-modal&quot;,
		&quot;/scanners/{{scanner.pk}}&quot;,
		&quot;Redigér scanner '{{scanner.name}}'&quot;
	    )"
	  >
	    <span class="glyphicon glyphicon-cog">
	    </span>

	    <span class="sr-only">
	      Indstillinger for scanner
	    </span>

	  </button>
	  <span>
	      <a href="/scanners/{{scanner.pk}}/delete/">Slet scanner</a>
	  </span>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block heading %} 
Scannere 
<small class="page-action" style="float:right;">
    <button type="button" class="btn btn-default"
        data-toggle="modal" data-target="#create-scanner-modal">
        Tilføj ny 
        <span
            style="position:relative;top:.15em;"
            class="glyphicon glyphicon-plus-sign">
        </span>
    </button>
</small>
{% endblock %}

{% block modal %}
<div class="modal iframe" id="create-scanner-modal" tabindex="-1" role="dialog"
    aria-labelledby="create-scanner-modal-title" aria-hidden="true"
    data-href="/scanners/add/">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="create-scanner-modal-title">
	  Opret ny scanner
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"
	  width="550" height="650"></iframe>
      </div>
      <div class="modal-footer">
	{% if 0 %}{# disable for now #}
	<div class="btn-group">
	  <button type="button" class="btn btn-default" data-dismiss="modal">
	    Luk
	  </button>
	  <button type="button" class="btn btn-primary">
	    Gem ændringer
	  </button>
	</div>
	{% endif %}
      </div>
    </div>
  </div>
</div>
<div class="modal iframe" id="edit-scanner-modal" tabindex="-1" role="dialog"
    aria-labelledby="edit-scanner-modal-title" aria-hidden="true"
    data-href="/scanners/add/">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="edit-scanner-modal-title">
	  Rediger scanner
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"
	  width="550" height="650"></iframe>
      </div>
      <div class="modal-footer">
	{% if 0 %}{# disable for now #}
	<div class="btn-group">
	  <button type="button" class="btn btn-default" data-dismiss="modal">
	    Luk
	  </button>
	  <button type="button" class="btn btn-primary">
	    Gem ændringer
	  </button>
	</div>
	{% endif %}
      </div>
    </div>
  </div>
</div>

<div class="modal iframe" id="run-scanner-modal" tabindex="-1" role="dialog"
    aria-labelledby="run-scanner-modal-title" aria-hidden="true"
    data-href="/scanners/add/">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	  &times;
	</button>
	<h4 class="modal-title" id="run-scanner-modal-title">
	  Kør scanner
	</h4>
      </div>
      <div class="modal-body">
	<iframe src="about:blank" frameborder="0"
	  width="550" height="150"></iframe>
      </div>
      <div class="modal-footer">
	{% if 0 %}{# disable for now #}
	<div class="btn-group">
	  <button type="button" class="btn btn-default" data-dismiss="modal">
	    Luk
	  </button>
	  <button type="button" class="btn btn-primary">
	    Gem ændringer
	  </button>
	</div>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jquery_script %}
<script type="text/javascript"><!--
//--></script>
{% endblock %}
