{% extends 'os2webscanner/base.html' %}
{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}
{% block body %}

{% if ok %}
<p class="lead">
  Er du sikker på, at du vil starte scanneren?
</p>
<p>
  {% if webscanner.pk %}
      <a href="/webscanners/{{webscanner.pk}}/run/" class="btn btn-primary">Ja, kør!</a>
  {% else %}
      <a href="/filescanners/{{filescanner.pk}}/run/" class="btn btn-primary">Ja, kør!</a>
  {% endif %}
</p>
{% else %}
<p class="lead">
{{ error_message }}
</p>
{% endif %}
{% endblock %}
