{% extends 'os2webscanner/base.html' %} {% load staticfiles %} {% block rendertype %}iframe-modal{% endblock %} {% block topnav %}{% endblock %} {% block extra_head_html %}
<link href="{% static " recurrence/css/recurrence.css " %}" rel="stylesheet" />
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{% static 'recurrence/js/recurrence.js' %}"></script>
<script type="text/javascript" src="{% static 'recurrence/js/recurrence-widget.js' %}"></script>
<!-- BEGIN Admin scripts and CSS to render filter_horizontal -->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
<!-- END   Admin scripts and CSS to render filter_horizontal -->

{% endblock %} {%block jquery_script %}
<script type="text/javascript">
  (function($) {
    function handleSubChoices(choice) {
      var state = choice.prop("checked");
      var siblings = choice.siblings("input[type='checkbox']");
      siblings.prop("disabled", !state);
      if(!state) {
        siblings.prop("checked", false);
      }
    }
    $(document).ready(function() {
      // Toggle the CPR Options when Do CPR scan is checked
      $("#id_{{ form.do_cpr_scan.name }}").change(function() {
        handleSubChoices($(this));
      });
      {% if not form.do_cpr_scan.value %}
      handleSubChoices($("#id_{{ form.do_cpr_scan.name }}"));
      {% endif %}

      // Toggle the External Links field when Do Link Check scan is checked
      $("#id_{{ form.do_link_check.name }}").click(function() {
        handleSubChoices($(this));
      });
      {% if not form.do_link_check.value %}
      handleSubChoices($("#id_{{ form.do_link_check.name }}"));
      {% endif %}

      // Toggle the HEAD request field when Check Last-Modified is checked
      $("#id_{{ form.do_last_modified_check.name }}").click(function() {
        handleSubChoices($(this));
      });
      {% if not form.do_last_modified_check.value %}
      handleSubChoices($("#id_{{ form.do_last_modified_check.name }}"));
      {% endif %}

    })
  })(jQuery);
</script>
<script src="{% static "js/ruleselector.js" %}"></script>
{% endblock %} {% block body %} {% if form.non_field_errors %}
<ul>
  {% for error in form.non_field_errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %} {% if form.errors %}
<div class="alert alert-danger" role="alert">
  <p>Følgende felter er ikke udfyldt korrekt:</p>
  <ul>
    {% for error in form.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<form class="form-horizontal" role="form" method="post">
  {% csrf_token %}
  <div id="{{ form.name.auto_id }}_container" class="col-sm-12{% if form.name.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.name.name }}">{{ form.name.label }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="{{ form.name.name }}" id="id_{{ form.name.name }}" {% if form.name.value %}value="{{ form.name.value }}" {% endif %}> {% if form.name.help_text %}
        <p>
          <small>{{ form.name.help_text }}</small>
        </p>
        {% endif %} {% if form.name.errors %}{{ form.name.errors }}{% endif %}
      </div>
    </div>
  </div>
  {% if form.organization %}
  <div id="{{ form.organization.auto_id }}_container" class="col-sm-12{% if form.organization.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.organization.name }}">{{ form.organization.label }}</label>
      <div class="col-sm-10">
        <select name="{{ form.organization.name }}" id="id_{{ form.organization.name }}" class="form-control">
                    {% for value, tag in form.organization.field.choices %}
                    <option value="{{ value }}"{% if form.organization.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option> {# silly type conversion #}
                    {% endfor %}
                </select> {% if form.organization.help_text %}
        <p>
          <small>{{ form.organization.help_text }}</small>
        </p>
        {% endif %} {% if form.organization.errors %}{{ form.organization.errors }}{% endif %}
      </div>
    </div>
  </div>
  {% endif %} {% if form.username %}
  <div id="{{ form.username.auto_id }}_container" class="col-sm-12{% if form.username.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.username.name }}">{{ form.username.label }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="{{ form.username.name }}" id="id_{{ form.username.name }}" {% if form.username.value %}value="{{ form.username.value }}" {% endif %}> {% if form.username.help_text %}
        <p>
          <small>{{ form.username.help_text }}</small>
        </p>
        {% endif %} {% if form.username.errors %}{{ form.username.errors }}{% endif %}
      </div>
    </div>
  </div>
  {% endif %} {% if form.password %}
  <div id="{{ form.password.auto_id }}_container" class="col-sm-12{% if form.password.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.password.name }}">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="{{ form.password.name }}" id="id_{{ form.password.name }}" {% if form.password.value %}value="{{ form.password.value }}" {% endif %}> {% if form.password.help_text %}
        <p>
          <small>{{ form.password.help_text }}</small>
        </p>
        {% endif %} {% if form.password.errors %}{{ form.password.errors }}{% endif %}
      </div>
    </div>
  </div>
  {% endif %} {% if form.group %}
  <div id="{{ form.group.auto_id }}_container" class="col-sm-12{% if form.group.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id_{{ form.group.name }}">{{ form.group.label }}</label>
      <div class="col-sm-10">
        <select name="{{ form.group.name }}" id="id_{{ form.group.name }}" class="form-control">
                    {% for value, tag in form.group.field.choices %}
                    <option value="{{ value }}"{% if form.group.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option> {# silly type conversion #}
                    {% endfor %}
                </select> {% if form.group.help_text %}
        <p>
          <small>{{ form.group.help_text }}</small>
        </p>
        {% endif %} {% if form.group.errors %}{{ form.group.errors }}{% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="clearfix"></div>
  <ul class="nav nav-tabs" id="scanner-settings-tabs">
    <li class="active"><a href="#domains" data-toggle="tab">Domæner</a></li>
    <li><a href="#rules" data-toggle="tab">Regler</a></li>
    <li><a href="#interval" data-toggle="tab">Interval</a></li>
    <li><a href="#recipients" data-toggle="tab">Modtagere</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="domains">
      <div id="{{ form.domains.auto_id }}_container" class="col-sm-12{% if form.domains.errors %} has-error{% endif %}">
        <div class="form-group">
          <label class="control-label" for="id_{{ form.domains.name }}">{{ form.domains.label }}</label>
          <select name="{{ form.domains.name }}" id="id_{{ form.domains.name }}" class="form-control" multiple="multiple">
                        {% for value, tag in form.domains.field.choices %}
                        <option value="{{ value }}"{% for val in form.domains.value %}{% if val == value %} selected="selected"{% endif %}{% endfor %}>{{ tag }}</option>
                        {% endfor %}
                    </select> {% if form.domains.errors %}{{ form.domains.errors }}{% endif %} {% if form.domains.help_text %}
          <p>
            <small>{{ form.domains.help_text }}</small>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="tab-pane" id="rules">
      <div id="select_scan_rules_container" class="col-sm-12">
        <div class="form-group">
          <h5>Indstillinger</h5>
          <div class="checkbox-group">
            <input type="checkbox" id="id_{{ form.do_ocr.name }}" name="{{ form.do_ocr.name }}" value="{{ form.do_ocr.name }}" {% if form.do_ocr.value %} checked="checked" {% endif %}> <label for="id_{{ form.do_ocr.name }}">

                        {{ form.do_ocr.label }}
                        {% if form.do_ocr.help_text %}<small>{{ form.do_ocr.help_text }}</small>{% endif %}
                    </label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="id_{{ form.do_last_modified_check.name }}" name="{{ form.do_last_modified_check.name }}" value="{{ form.do_last_modified_check.name }}" {% if form.do_last_modified_check.value %} checked="checked" {% endif %}>
            <label for="id_{{ form.do_last_modified_check.name }}">
                        {{ form.do_last_modified_check.label }}
                        {% if form.do_last_modified_check.help_text %}<small>{{ form.do_last_modified_check.help_text }}</small>{% endif %}
                    </label>
            <input type="checkbox" id="id_{{ form.do_last_modified_check_head_request.name }}" name="{{ form.do_last_modified_check_head_request.name }}" value="{{ form.do_last_modified_check_head_request.name }}" {% if form.do_last_modified_check_head_request.value %} checked="checked" {% endif %}>
            <label for="id_{{ form.do_last_modified_check_head_request.name }}">
                        {{ form.do_last_modified_check_head_request.label }}
                        {% if form.do_last_modified_check_head_request.help_text %}<small>{{ form.do_last_modified_check_head_request.help_text }}</small>{% endif %}
                    </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox-group">
            <input type="checkbox" id="id_{{ form.do_cpr_scan.name }}" name="{{ form.do_cpr_scan.name }}" value="{{ form.do_cpr_scan.name }}" {% if form.do_cpr_scan.value %} checked="checked" {% endif %}>
            <label for="id_{{ form.do_cpr_scan.name }}">
                        {{ form.do_cpr_scan.label }}
                        {% if form.do_cpr_scan.help_text %}<small>{{ form.do_cpr_scan.help_text }}</small>{% endif %}
                    </label>
            <input type="checkbox" id="id_{{ form.do_cpr_modulus11.name }}" name="{{ form.do_cpr_modulus11.name }}" value="{{ form.do_cpr_modulus11.name }}" {% if form.do_cpr_modulus11.value %} checked="checked" {% endif %}>
            <label class="cpr_option" for="id_{{ form.do_cpr_modulus11.name }}">
                        {{ form.do_cpr_modulus11.label }}
                        {% if form.do_cpr_modulus11.help_text %}<small>{{ form.do_cpr_modulus11.help_text }}</small>{% endif %}
                    </label>
            <input type="checkbox" id="id_{{ form.do_cpr_ignore_irrelevant.name }}" name="{{ form.do_cpr_ignore_irrelevant.name }}" value="{{ form.do_cpr_ignore_irrelevant.name }}" {% if form.do_cpr_ignore_irrelevant.value %} checked="checked" {% endif %}>
            <label class="cpr_option" for="id_{{ form.do_cpr_ignore_irrelevant.name }}">
                        {{ form.do_cpr_ignore_irrelevant.label }}
                        {% if form.do_cpr_ignore_irrelevant.help_text %}<small>{{ form.do_cpr_ignore_irrelevant.help_text }}</small>{% endif %}
                    </label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="id_{{ form.do_link_check.name }}" name="{{ form.do_link_check.name }}" value="{{ form.do_link_check.name }}" {% if form.do_link_check.value %} checked="checked" {% endif %}>
            <label for="id_{{ form.do_link_check.name }}">
                        {{ form.do_link_check.label }}
                        {% if form.do_link_check.help_text %}<small>{{ form.do_link_check.help_text }}</small>{% endif %}
                    </label>
            <input type="checkbox" id="id_{{ form.do_external_link_check.name }}" name="{{ form.do_external_link_check.name }}" value="{{ form.do_external_link_check.name }}" {% if form.do_external_link_check.value %} checked="checked" {% endif %}>
            <label for="id_{{ form.do_external_link_check.name }}">
                        {{ form.do_external_link_check.label }}
                        {% if form.do_external_link_check.help_text %}<small>{{ form.do_external_link_check.help_text }}</small>{% endif %}
                    </label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="id_{{ form.do_collect_cookies.name }}" name="{{ form.do_collect_cookies.name }}" value="{{ form.do_collect_cookies.name }}" {% if form.do_collect_cookies.value %} checked="checked" {% endif %}>
            <label for="id_{{ form.do_collect_cookies.name }}">
                        {{ form.do_collect_cookies.label }}
                        {% if form.do_collect_cookies.help_text %}<small>{{ form.do_collect_cookies.help_text }}</small>{% endif %}
                    </label>
          </div>
        </div>
        <div class="form-group">
          <h5>Regler</h5>
          <div id="selected_rules_container" class="clearfix">
            <ul id="selected_rules"></ul>
          </div>
          <div class="dropdown dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="rules_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Tilføj regel
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="available_rules" aria-labelledby="rules_list">
              <li class="dropdown-header">Systemregler</li>
              <li data-rule-id="a"><a href="#" data-toggle="tooltip" data-placement="right" title="Beskrivelse af regel">CPR</a></li>
              <li data-rule-id="b"><a href="#" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Check links</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">{{ form.regex_rules.label }}</li>
              {% for value, tag in form.regex_rules.field.choices %}
              <li data-rule-id="{{ value }}"><a href="#" data-toggle="tooltip" data-placement="right" title="{{ description }}">{{ tag }}</a></li>
              {% endfor %}
              <li data-rule-id="3"><a href="#">Adgangsstatus</a></li>
              <li data-rule-id="4"><a href="#">Supplerende adg. status</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="interval">
      <div class="col-sm-12 form-group">
      </div>
      <div id="{{ form.schedule.auto_id }}_container">
        <div>{{ form.schedule.help_text }}</div>
        <div>
          <div>{{ form.schedule.label_tag }}</div>
          {{ form.schedule }}
        </div>
        <div id="{{ form.schedule.auto_id }}_errors">
          {{ form.schedule.errors }}
        </div>
      </div>
      {% if object.pk %}
      <p>
        Scanneren vil starte på følgende tidspunkt på de valgte dage:<br /> {{ object.get_start_time }}
      </p>
      {% endif %}
    </div>
    <div class="tab-pane" id="recipients">
      <div id="{{ form.recipients.auto_id }}_container" class="col-sm-12{% if form.recipients.errors %} has-error{% endif %}">
        <div class="form-group">
          <label class="control-label" for="id_{{ form.recipients.name }}">{{ form.recipients.label }}</label>
          <select name="{{ form.recipients.name }}" id="id_{{ form.recipients.name }}" class="form-control" multiple="multiple">
                        {% for value, tag in form.recipients.field.choices %}
                        <option value="{{ value }}"{% for val in form.recipients.value %}{% if val == value %} selected="selected"{% endif %}{% endfor %}>{{ tag }}</option>
                        {% endfor %}
                    </select> {% if form.recipients.errors %}{{ form.recipients.errors }}{% endif %} {% if form.recipients.help_text %}
          <p>
            <small>{{ form.recipients.help_text }}</small>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
      <button type="submit" class="btn btn-primary" name="save">
                Gem ændringer
            </button>
    </div>
</form>

<script type="text/javascript">
  addEvent(window, "load", function(e) {
    SelectFilter.init("id_domains",
      "domæner", 0, "{% static 'admin/' %}");
  });
  addEvent(window, "load", function(e) {
    SelectFilter.init("id_recipients",
      "modtagere", 0, "{% static 'admin/' %}");
  });
</script>
{% endblock %}
