.hit-link {
  display: block;
  font-size: 0;
  margin-top: 1rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.hit-link a {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: inherit;
  display: inline-block;
  font-size: 0.5rem;
  margin-top: 0;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.1s ease-in-out;

  &:focus, 
  &:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
}