/* datatable severity icons, start */
.datatable__level {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.1rem;
  text-transform: uppercase;
}

.datatable__level--1 {
  background-color: var(--color-error);
}

.datatable__level--2 {
  background-color: var(--color-warning);
}

.datatable__level--3 {
  background-color: var(--color-ok);
}
/* datatable severity icons, stop */


/* file type icons, start */
.icon-filetype {
  background-color: #ccc;
  display: block;
  height: 2rem;
  width: 2rem;
}
.icon-filetype--docx {
  background-color: #50bee8;
}

.icon-filetype--pdf {
  background-color: #f15642;
}
/* file type icons, stop */
