.user {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.user a {
  color: inherit;
  text-decoration: none;
}

.user__name {
  color: inherit;
}

.user__avatar {
  display: inline-block;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: top;
  width: 2rem;

  svg {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

.user {
  .os2o {
    fill: var(--color-main);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 3.5rem;
    top: 110%;
    left: 90%; 
    margin-left: -2.5rem;
    background-color: var(--color-text-main);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: .8rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 95%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color-text-main) transparent;
  }  
  
}
