.user {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.user a {
  color: inherit;
  text-decoration: none;
}

.user__name {
  color: inherit;
}

.user__avatar {
  display: inline-block;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: top;
  width: 2rem;

  svg {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

.user {
  .os2o {
    fill: var(--color-main);
  }
}
