{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
{% language 'da' %}
<html lang="da" class="{% block rendertype %}{% endblock %}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>{% block title %}{% endblock %} | OS2datascanner</title>
  <!-- Bootstrap core CSS -->
  {% if not settings.DEBUG %}
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
  {% else %}
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
  {% endif %}
  <link href="{% static "css/webscanner.css" %}" rel="stylesheet" />
  {% block extra_head_html %}{% endblock %}
  <link href="{% static "dist/bundle.css" %}" rel="stylesheet" />
</head>
<body class="{{ body_class|default:'page' }}">

  {% block topnav %}
  {% include "components/banner.html" with active_tab="home" %}
  {% endblock %}

  {% block body %}
  {% endblock %}

  <div>
    <!-- Modal dialog -->
    {% block modal %}
    {% endblock %}
    <!-- End modal dialog -->
  </div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% if not settings.DEBUG %}
  <script src="{% static "js/jquery-1.12.4.min.js" %} "></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% else %}
  <script src="{% static "js/jquery-1.12.4.js" %} "></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  {% endif %}
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "dist/bundle.js" %}"></script>
  {% block jquery_script %}{% endblock %}
</body>
</html>
{% endlanguage %}
