{% extends 'os2datascanner/base.html' %}
{% block rendertype %}regular{% endblock %}
{%  block title %}
Domæner
{% endblock %}

{% block body %}
    <div class="container">
          {% for organization in orgs_with_domains %}
          <h3>{{organization.name}}</h2>

          <ol>
              {% for tld in organization.domains %}
              <li> <b>{{ tld.tld }}</b>
              
               <ul>
                   {% for domain in tld.domains %}
                   <li>{{ domain }}</li>
                   {% endfor %}
               </ul>
               </li>
                  
              {% endfor %}
          </ol>

          {% endfor %}
      </div>
{% endblock %}

{% block heading %} 
Domæner pr. organisation 
{% endblock %}

