{% extends "os2datascanner/base.html" %}

{% block rendertype %}regular{% endblock %}
{% block heading %}
Slet {{ object }}?
{% endblock %}

{% block body %}
  <div class="container">
    <p>
      Ønsker du virkelig at slette denne regel? Handlingen kan ikke
      fortrydes.
    </p>
    <p>
      Bemærk venligst at denne regel i øjeblikket indgår i
      {{ object.scanners.all.count }} scannerjob og
      {{ object.scans.all.count }} rapporter.
    </p>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Ja" />
      <a class="btn btn-default" href="javascript:history.go(-1)">Nej</a>
    </form>
  </div>
{% endblock %}
