{% extends 'os2datascanner/base.html' %}
{% load staticfiles %}

{% block styling %}
<link rel="stylesheet" href="{% static "dist/bundle.css" %}">
{% endblock %}

{% block scripts %}
<script src="{% static "3rdparty/jquery.modal.js" %} "></script>
<script src="{% static "dist/bundle.js" %}"></script>
{% endblock %}

{% block body %}
<div class="wrapper">
  <h2 style="display: inline-block;">Regler</h2>
  <a 
    class="button button--add button--cta button--small button--round"
    data-modal="modal:open"
    data-src="/rules/regex/add/"
    href="#create-rule-modal"
    title="Tilføj ny">
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-plus"></use>
    </svg>
  </a>

  <table class="datatable">
    <thead>
      <tr>
        <th>Navn</th>
        {% if user.is_superuser %}
        <th>Organisation</th>
        {% endif %}
        <th>Beskrivelse</th>
        <th>Udtryk</th>
        <th>Følsomhed</th>
        <th>Handling</th>
      </tr>
    </thead>
    <tbody>
      {% for rule in regexrule_list %}
      <tr tabindex="0">
        <td>{{ rule.name }}</td>
        {% if user.is_superuser %}
        <td>{{ rule.organization }}</td>
        {% endif %}
        <td>{{ rule.description }}</td>

        <td>
          {% if rule.regexrule.patterns.all|length > 0 %}
          <button type="button" class="button button--ghost button--small button--rounded" data-toggle="#show-patterns-{{ forloop.counter }}">Vis udtryk</button>
          </div>
          {% endif %}
        </td>
        <td>
          {% if rule.get_sensitivity_display == sensitivity.choices.0.1 %}
          <span class="level-label level-label--3">{{ rule.get_sensitivity_display }}</span>
          {% elif rule.get_sensitivity_display == sensitivity.choices.1.1 %}
          <span class="level-label level-label--2">{{ rule.get_sensitivity_display }}</span>
          {% else %}
          <span class="level-label level-label--1">{{ rule.get_sensitivity_display }}</span>
          {% endif %}
        </td>
        <td>
          <a 
            href="#edit-rule-modal" 
            data-modal="modal:open" 
            data-src="/rules/regex/{{rule.pk}}"
            class="button button--small button--rounded"
            title="Redigér">
            <svg class="icon">
              <use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"></use>
            </svg>
          </a>

          <a 
            href="#delete-rule-modal"
            data-modal="modal:open"
            class="button button--small button--rounded"
            title="Slet">
            <svg class="icon">
              <use xlink:href="/static/src/svg/symbol-defs.svg#icon-cross"></use>
            </svg>
          </a>
        </td>
      </tr>
      <tr class="expandable-row" id="show-patterns-{{ forloop.counter }}" hidden>
        <td colspan="6">
          {% if rule.regexrule.patterns.all|length > 0 %}
          {% for pattern in rule.regexrule.patterns.all %}
          <code>{{ pattern.pattern_string }}</code>
          {% endfor %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 style="display: inline-block;">CPR-regler</h2>

  <table class="datatable">
    <thead>
      <tr>
        <th>Navn</th>
        {% if user.is_superuser %}
        <th>Organisation</th>
        {% endif %}
        <th>Beskrivelse</th>
        <th>Sandsynlighed</th>
        <th>Følsomhed</th>
      </tr>
    </thead>

    <tbody>
      {% for rule in cprrule_list %}
      <tr tabindex="0">
        <td>{{ rule.name }}</td>
        {% if user.is_superuser %}
        <td>{{ rule.organization }}</td>
        {% endif %}
        <td>{{ rule.description }}</td>
        <td></td>
        <td>
          {% if rule.get_sensitivity_display == sensitivity.choices.0.1 %}
          <span class="level-label level-label--3">{{ rule.get_sensitivity_display }}</span>
          {% elif rule.get_sensitivity_display == sensitivity.choices.1.1 %}
          <span class="level-label level-label--2">{{ rule.get_sensitivity_display }}</span>
          {% else %}
          <span class="level-label level-label--1">{{ rule.get_sensitivity_display }}</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block modal %}
<div class="modal" id="create-rule-modal" tabindex="-1" role="dialog" aria-labelledby="create-rule-modal-title" aria-hidden="true">
  <h4 class="modal__heading" id="create-rule-modal-title">Opret regel</h4>
  <iframe src="about:blank" frameborder="0"></iframe>
</div>

<div class="modal" id="edit-rule-modal" tabindex="-1" role="dialog" aria-labelledby="edit-rule-modal-title" aria-hidden="true" hidden>
  <h4 class="modal__heading" id="edit-rule-modal-title">Redigér regel</h4>
  <iframe src="about:blank" frameborder="0"></iframe>
</div>

<div class="modal modal--small" id="delete-rule-modal" tabindex="-1" role="dialog" aria-labelledby="delete-rule-modal-title" aria-hidden="true" hidden>
  <h4 class="modal__heading" id="delete-rule-modal-title">Slet regel</h4>
  <iframe src="about:blank" frameborder="0"></iframe>
</div>

<div class="modal modal--small" id="delete-rule-modal" tabindex="-1" role="dialog" aria-labelledby="delete-rule-modal-title" aria-hidden="true" hidden>
  <h4 class="modal__heading" id="delete-rule-modal-title">Slet regel</h4>

  <div class="modal__content">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
  
      <p>Ønsker du at slette <em>{{ object }}</em>? Handlingen kan ikke fortrydes.</p>
      <p>Bemærk venligst at denne regel i øjeblikket indgår i <em>{{ object.scanners.all.count }}</em> scannerjob og <em>{{ object.scans.all.count }}</em> rapporter.</p>
  
      <div class="form__group">
        <button class="button button--cta button--small btn btn-default" type="submit">Ja</button>
        <button class="button button--cta button--small btn btn-default" type="button" data-modal="modal:close">Næh!</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block rules_active %}
class="active"
{% endblock %}