{% extends 'os2datascanner/base.html' %}
{% load staticfiles %}
{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% block styling %}
<link rel="stylesheet" href="{% static "dist/bundle.css" %}">
{% endblock %}

{% block scripts %}
<script src="{% static "3rdparty/jquery.modal.js" %} "></script>
<script src="{% static "dist/bundle.js" %}"></script>
{% endblock %}

{% block body %}

{% if ok %}
<h3>Er du sikker på, at du vil starte scanneren?</h3>
<p>
  {% if webscanner.pk %}
  <a href="/webscanners/{{webscanner.pk}}/run/" class="button button--cta button--rounded">Ja, kør!</a>
  {% elif filescanner.pk %}
  <a href="/filescanners/{{filescanner.pk}}/run/" class="button button--cta button--rounded">Ja, kør!</a>
  {% elif exchangescanner.pk %}
  <a href="/exchangescanners/{{exchangescanner.pk}}/run/" class="button button--cta button--rounded">Ja, kør!</a>
  {% endif %}
</p>

{% else %}
<div class="alert alert--danger">
  <p>{{ error_message }}</p>
</div>
{% endif %}
{% endblock %}
