{% extends 'os2datascanner/base.html' %}
{% load staticfiles %}
{% block rendertype %}
iframe-modal
{% endblock %}
{% load i18n %}
{% block topnav %}
{% endblock %}
{% block extra_head_html %}
<link href="{% static 'recurrence/css/recurrence.css' %}" rel="stylesheet" />
<script type="text/javascript" src="/jsi18n/"></script>
<!-- BEGIN Admin scripts and CSS to render filter_horizontal -->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'recurrence/js/recurrence.js' %}"></script>
<script type="text/javascript" src="{% static 'recurrence/js/recurrence-widget.js' %}"></script>
<script type="text/javascript" src="{% static 'recurrence/js/recurrence-widget.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
<!-- END   Admin scripts and CSS to render filter_horizontal -->

{% endblock %}
{%block jquery_script %}
<script type="text/javascript">
  (function($) {
    $(document).ready(function() {
      // Toggle the External Links field when Do Link Check scan is checked
      $("#id_{{ form.do_link_check.name }}").click(function() {
        handleSubChoices($(this));
      });
      {% if not form.do_link_check.value %}
        handleSubChoices($("#id_{{ form.do_link_check.name }}"));
      {% endif %}

      // Toggle the HEAD request field when Check Last-Modified is checked
      $("#id_{{ form.do_last_modified_check.name }}").click(function() {
        handleSubChoices($(this));
      });
      {% if not form.do_last_modified_check.value %}
        handleSubChoices($("#id_{{ form.do_last_modified_check.name }}"));
      {% endif %}

      // set up selected rules based on the form values
      {% for val in form.rules.value %}
        $("#available_rules li[data-rule-id=\"{{ val }}\"").trigger("click");
      {% endfor %}

      // If user is in the edit view the user shall not be able to edit:
      //  * Rules
      //  * Settings
      // But the user shall still be able to view them and edit interval and Recepients
      {% if form.rules.field.disabled %}
        $("#selected_rules .remove-rule").addClass('disabled')
        $("#selected_rules span").addClass('disabled')
        $("#select_scan_rules_container").css('opacity', '.35')
      {% endif %}

        // Toggle the Sitemap URL field when Download Sitemap is checked
        $("#id_{{ form.download_sitemap.name }}").click(function () {
            $("#{{ form.sitemap_url.auto_id }}_container").toggle();
        });
        {% if not form.download_sitemap.value %}
            $("#{{ form.sitemap_url.auto_id }}_container").toggle();
        {% endif %}
    })
  })(jQuery);
</script>
<script type="text/javascript" src="{% static 'js/ruleselector.js' %}"></script>
{% endblock %}
{% block body %}
{% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <p>Følgende felter er ikke udfyldt korrekt:</p>
      <ul>
        {% for error in form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
{% endif %}

{% if not view.edit %}
    <p id="is_edit_view" class="bg-info">{% trans "Domæner og regler kan ikke ændres efter scannerjobbet er oprettet." %}</p>
{% endif %}

<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id="{{ form.name.auto_id }}_container"
       class="col-sm-12{% if form.name.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-3" for="id_{{ form.name.name }}">
          {{ form.name.label }}
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control"
               name="{{ form.name.name }}" id="id_{{ form.name.name }}"
               {% if form.name.value %}
                    value="{{ form.name.value }}"
               {% endif %}>
        {% if form.name.help_text %}
            <p>
              <small>{{ form.name.help_text }}</small>
            </p>
        {% endif %}
        {% if form.name.errors %}
            {{ form.name.errors }}
        {% endif %}
      </div>
    </div>
  </div>

    <div id="{{ form.url.auto_id }}_container" class="col-sm-12{% if form.url.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_{{ form.url.name }}">
                {{ form.url.label }}
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="{{ form.url.name }}" id="id_{{ form.url.name }}" {% if form.url.value %}value="{{ form.url.value }}"{% endif %}>
                {% if form.url.help_text %}
                    <p>
                        <small>{{ form.url.help_text }}</small>
                    </p>
                {% endif %}
                {% if form.url.errors %}{{ form.url.errors }}{% endif %}
            </div>
        </div>
    </div>

    {% if form.alias %}
        <div id="{{ form.alias.auto_id }}_container" class="col-sm-12{% if form.alias.errors %} has-error{% endif %}">
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_{{ form.alias.name }}">Drevbogstav</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="{{ form.alias.name }}" id="id_{{ form.alias.name }}" {% if form.alias.value %}value="{{ form.alias.value }}"{% endif %}>
                    {% if form.alias.help_text %}
                        <p>
                            <small>{{ form.alias.help_text }}</small>
                        </p>
                    {% endif %}
                    {% if form.alias.errors %}{{ form.alias.errors }}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}

  {% if form.organization %}
  <div id="{{ form.organization.auto_id }}_container"
       class="col-sm-12{% if form.organization.errors %} has-error{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-3" for="id_{{ form.organization.name }}">
          {{ form.organization.label }}
      </label>
      <div class="col-sm-9">
        <select name="{{ form.organization.name }}" id="id_{{ form.organization.name }}" class="form-control">
            {% for value, tag in form.organization.field.choices %}
                <option value="{{ value }}"
                    {% if form.organization.value|add:"0" == value|add:"0" %}
                        selected="selected"
                    {% endif %}>
                    {{ tag }}
                </option> {# silly type conversion #}
            {% endfor %}
        </select>
          {% if form.organization.help_text %}
        <p>
          <small>{{ form.organization.help_text }}</small>
        </p>
        {% endif %}
        {% if form.organization.errors %}
          {{ form.organization.errors }}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if form.domain %}    
   <div id="{{ form.domain.auto_id }}_container" class="col-sm-12{% if form.domain.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_{{ form.domain.name }}">Brugerdomæne</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="{{ form.domain.name }}" id="id_{{ form.domain.name }}" {% if form.domain.value %}value="{{ form.domain.value }}"{% endif %}>
                {% if form.domain.help_text %}
                    <p>
                        <small>{{ form.domain.help_text }}</small>
                    </p>
                {% endif %}
                {% if form.domain.errors %}{{ form.domain.errors }}{% endif %}
            </div>
        </div>
    </div>
  {% endif %}

  {% if form.username %}
      <div id="{{ form.username.auto_id }}_container" class="col-sm-12{% if form.username.errors %} has-error{% endif %}">
        <div class="form-group">
          <label class="control-label col-sm-3" for="id_{{ form.username.name }}">
              {{ form.username.label }}
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="{{ form.username.name }}"
                   id="id_{{ form.username.name }}"
                   {% if form.username.value %}
                        value="{{ form.username.value }}"
                   {% endif %}>
            {% if form.username.help_text %}
                <p>
                  <small>{{ form.username.help_text }}</small>
                </p>
            {% endif %}
            {% if form.username.errors %}
              {{ form.username.errors }}
            {% endif %}
          </div>
        </div>
      </div>
  {% endif %}
  {% if form.password %}
      <div id="{{ form.password.auto_id }}_container" class="col-sm-12{% if form.password.errors %} has-error{% endif %}">
        <div class="form-group">
          <label class="control-label col-sm-3" for="id_{{ form.password.name }}">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="{{ form.password.name }}" id="id_{{ form.password.name }}"
                   {% if form.password.value %}
                        value="{{ form.password.value }}"
                   {% endif %}>
            {% if form.password.help_text %}
            <p>
              <small>{{ form.password.help_text }}</small>
            </p>
            {% endif %}
            {% if form.password.errors %}
              {{ form.password.errors }}
            {% endif %}
          </div>
        </div>
      </div>
  {% endif %}
  {% if form.group %}
    <div id="{{ form.group.auto_id }}_container"
         class="col-sm-12{% if form.group.errors %} has-error{% endif %}">
        <div class="form-group">
          <label class="control-label col-sm-3" for="id_{{ form.group.name }}">
              {{ form.group.label }}
          </label>
          <div class="col-sm-9">
            <select name="{{ form.group.name }}" id="id_{{ form.group.name }}" class="form-control">
                {% for value, tag in form.group.field.choices %}
                    <option value="{{ value }}"
                    {% if form.group.value|add:"0" == value|add:"0" %}
                        selected="selected"
                    {% endif %}>
                        {{ tag }}
                    </option> # silly type conversion
                {% endfor %}
            </select>
            {% if form.group.help_text %}
                <p>
                  <small>{{ form.group.help_text }}</small>
                </p>
            {% endif %}
            {% if form.group.errors %}
                {{ form.group.errors }}
            {% endif %}
          </div>
        </div>
    </div>
  {% endif %}

    {% if form.userlist %}
        <div id="{{ form.userlist.auto_id }}_container" class="col-sm-12{% if form.userlist.errors %} has-error{% endif %}">
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_{{ form.userlist.name }}">Liste af mail brugere</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" name="{{ form.userlist.name }}" id="id_{{ form.userlist.name }}" {% if form.userlist.value %}value="{{ form.userlist.value }}"{% endif %}>
                    <p>
                        <small>Eksisterende fil: {{ form.userlist.value }}</small>
                    </p>
                    {% if form.userlist.help_text %}
                        <p>
                            <small>{{ form.userlist.help_text }}</small>
                        </p>
                    {% endif %}
                    {% if form.userlist.errors %}{{ form.userlist.errors }}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if form.validation_status %}
        <div id="{{ form.validation_status.auto_id }}_container" class="col-sm-12{% if form.validation_status.errors %} has-error{% endif %}">
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_{{ form.validation_status.name }}">{{ form.validation_status.label }}</label>
                <div class="col-sm-9">
                    <select name="{{ form.validation_status.name }}" id="id_{{ form.validation_status.name }}" class="form-control">
                        {% for value, tag in form.validation_status.field.choices %}
                            <option value="{{ value }}"{% if form.validation_status.value|add:"0" == value|add:"0" %} selected="selected"{% endif %}>{{ tag }}</option> {# silly type conversion #}
                        {% endfor %}
                    </select>
                    {% if form.validation_status.help_text %}
                        <p>
                            <small>{{ form.validation_status.help_text }}</small>
                        </p>
                    {% endif %}
                    {% if form.validation_status.errors %}{{ form.validation_status.errors }}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div id="{{ form.exclusion_rules.auto_id }}_container" class="col-sm-12{% if form.exclusion_rules.errors %} has-error{% endif %}">
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_{{ form.exclusion_rules.name }}">{{ form.exclusion_rules.label }}</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="{{ form.exclusion_rules.name }}" id="id_{{ form.exclusion_rules.name }}" rows="3">{% if form.exclusion_rules.value %}{{ form.exclusion_rules.value }}{% endif %}</textarea>
                {% if form.exclusion_rules.help_text %}
                    <p>
                        <small>{{ form.exclusion_rules.help_text }}</small>
                    </p>
                {% endif %}
                {% if form.exclusion_rules.errors %}{{ form.exclusion_rules.errors }}{% endif %}
            </div>
        </div>
    </div>

    {% if form.download_sitemap %}
        <div id="{{ form.download_sitemap.auto_id }}_container" class="col-sm-12{% if form.download_sitemap.errors %} has-error{% endif %}">
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_{{ form.download_sitemap.name }}">{{ form.download_sitemap.label }}</label>
                <div class="col-sm-9">
                    <input type="checkbox" class="checkbox" style="margin-top: 4px;"
                           id="id_{{ form.download_sitemap.name }}"
                           name="{{ form.download_sitemap.name }}" value="{{ form.download_sitemap.name }}"{% if form.download_sitemap.value %} checked="checked"{% endif %} />
                    {% if form.download_sitemap.help_text %}
                        <p>
                            <small>{{ form.download_sitemap.help_text }}</small>
                        </p>
                    {% endif %}
                    {% if form.download_sitemap.errors %}{{ form.download_sitemap.errors }}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if form.sitemap_url %}
        <div id="{{ form.sitemap_url.auto_id }}_container" class="col-sm-12{% if form.sitemap_url.errors %} has-error{% endif %}">
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_{{ form.sitemap_url.name }}">{{ form.sitemap_url.label }}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           name="{{ form.sitemap_url.name }}"
                           id="id_{{ form.sitemap_url.name }}"
                           placeholder="/sitemap.xml"
                           {% if form.sitemap_url.value %}value="{{ form.sitemap_url.value }}"{% endif %}>
                    {% if form.sitemap_url.help_text %}
                        <p>
                            <small>{{ form.sitemap_url.help_text }}</small>
                        </p>
                    {% endif %}
                    {% if form.sitemap_url.errors %}{{ form.sitemap_url.errors }}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if form.sitemap %}
        <div id="{{ form.sitemap.auto_id }}_container" class="col-sm-12{% if form.sitemap.errors %} has-error{% endif %}">
            <div class="form-group">
                <label class="control-label col-sm-3"
                       for="id_{{ form.sitemap.name }}">{{ form.sitemap.label}}</label>
                <div class="col-sm-9">
                    {% if form.sitemap.value %}
                        Aktuelt: {{ form.sitemap.value }}
                        <input id="{{ form.sitemap.name }}-clear_id" name="{{ form.sitemap.name }}-clear" type="checkbox"/>
                        <label for="{{ form.sitemap.name }}-clear_id">Fjern</label>
                        <br />
                    {% endif %}
                    <input class="form-control" id="id_{{ form.sitemap.name }}"
                           name="{{ form.sitemap.name }}"
                           type="file"
                           data-filename-placement="inside"
                           title="Klik her for at uploade sitemap.xml" />
                    {% if form.sitemap.help_text %}
                        <p>
                            <small>{{ form.sitemap.help_text }}</small>
                        </p>
                    {% endif %}
                    {% if form.sitemap.errors %}{{ form.sitemap.errors }}{% endif %}
                </div>
            </div>
        </div>
    {% endif %}
  <div class="clearfix"></div>
  <ul class="nav nav-tabs" id="scanner-settings-tabs">
    <li class="active"><a href="#rules" data-toggle="tab">Regler</a></li>
    <li><a href="#interval" data-toggle="tab">Interval</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="rules">
        {% if view.edit %}
        <p class="bg-warning">{% trans "Listen af regler kan ikke redigeres. For at scanne med andre regler, opret da et nyt scannerjob." %}</p>
        {% endif %}
      <div id="select_scan_rules_container" class="col-sm-12">
        <div class="form-group">
          <h5>Indstillinger</h5>
          <div class="checkbox-group">
            <input type="checkbox" id="id_{{ form.do_ocr.name }}"
                   name="{{ form.do_ocr.name }}" value="{{ form.do_ocr.name }}"
            {% if form.do_ocr.field.disabled %}
                disabled
            {% endif %}
            {% if form.do_ocr.value %}
                checked="checked"
            {% endif %}>
                <label for="id_{{ form.do_ocr.name }}">
                    {{ form.do_ocr.label }}
                    {% if form.do_ocr.help_text %}
                        <small>{{ form.do_ocr.help_text }}</small>
                    {% endif %}
                </label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="id_{{ form.do_last_modified_check.name }}"
                   name="{{ form.do_last_modified_check.name }}"
                   value="{{ form.do_last_modified_check.name }}"
            {% if form.do_last_modified_check.field.disabled %}
                disabled
            {% endif %}
            {% if form.do_last_modified_check.value %}
                checked="checked"
            {% endif %}>
                <label for="id_{{ form.do_last_modified_check.name }}">
                    {{ form.do_last_modified_check.label }}
                    {% if form.do_last_modified_check.help_text %}
                        <small>{{ form.do_last_modified_check.help_text }}</small>
                    {% endif %}
                </label>
          {% if view.type == 'web' %}
            <input type="checkbox" id="id_{{ form.do_last_modified_check_head_request.name }}"
                   name="{{ form.do_last_modified_check_head_request.name }}"
                   value="{{ form.do_last_modified_check_head_request.name }}"
            {% if form.do_last_modified_check_head_request.field.disabled %}
                disabled
            {% endif %}
            {% if form.do_last_modified_check_head_request.value %}
                checked="checked"
            {% endif %}>
                <label for="id_{{ form.do_last_modified_check_head_request.name }}">
                    {{ form.do_last_modified_check_head_request.label }}
                    {% if form.do_last_modified_check_head_request.help_text %}
                        <small>{{ form.do_last_modified_check_head_request.help_text }}</small>
                    {% endif %}
                </label>
          {% endif %}
          </div>
          {% if view.type == 'web' %}
              <div class="checkbox-group">
                <input type="checkbox" id="id_{{ form.do_link_check.name }}"
                       name="{{ form.do_link_check.name }}"
                       value="{{ form.do_link_check.name }}"
                {% if form.do_link_check.field.disabled %}
                    disabled
                {% endif %}
                {% if form.do_link_check.value %}
                    checked="checked"
                {% endif %}>
                    <label for="id_{{ form.do_link_check.name }}">
                        {{ form.do_link_check.label }}
                        {% if form.do_link_check.help_text %}
                            <small>{{ form.do_link_check.help_text }}</small>
                        {% endif %}
                    </label>
                <input type="checkbox" id="id_{{ form.do_external_link_check.name }}"
                       name="{{ form.do_external_link_check.name }}"
                       value="{{ form.do_external_link_check.name }}"
                {% if form.do_external_link_check.field.disabled %}
                    disabled
                {% endif %}
                {% if form.do_external_link_check.value %}
                    checked="checked"
                {% endif %}>
                    <label for="id_{{ form.do_external_link_check.name }}">
                        {{ form.do_external_link_check.label }}
                        {% if form.do_external_link_check.help_text %}
                            <small>{{ form.do_external_link_check.help_text }}</small>
                        {% endif %}
                    </label>
              </div>
              <div class="checkbox-group">
                <input type="checkbox" id="id_{{ form.do_collect_cookies.name }}"
                       name="{{ form.do_collect_cookies.name }}"
                       value="{{ form.do_collect_cookies.name }}"
                {% if form.do_collect_cookies.field.disabled %}
                    disabled
                {% endif %}
                {% if form.do_collect_cookies.value %}
                    checked="checked"
                {% endif %}>
                    <label for="id_{{ form.do_collect_cookies.name }}">
                        {{ form.do_collect_cookies.label }}
                        {% if form.do_collect_cookies.help_text %}
                            <small>{{ form.do_collect_cookies.help_text }}</small>
                        {% endif %}
                    </label>
              </div>
          {% endif %}
        </div>
        <div class="form-group">
          <h5>Regler</h5>
          <div id="selected_rules" class="clearfix">
            <div id="rules_list" class="dropup">
              <button class="btn btn-default dropdown-toggle" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                      {% if form.rules.field.disabled %} disabled {% endif %}>
                Tilføj regler
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu-right dropdown-menu" id="available_rules" aria-labelledby="rules_list">
                <li class="dropdown-header">Filtrer</li>
                <li><input type="text" id="rule-filter" placeholder="Indtast mindst tre bogstaver"></li>
                <li class="dropdown-header">{{ form.rules.label }}</li>
                {% for value, tag in form.rules.field.choices %}
                    <li class="rule" data-rule-id="{{ value }}">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="{{ description }}">{{ tag }}</a>
                    </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="interval">
      <div class="col-sm-12 form-group">
      <div id="{{ form.schedule.auto_id }}_container">
        <div>{{ form.schedule.help_text }}</div>
        <div>
          <div>{{ form.schedule.label_tag }}</div>
          {{ form.schedule }}
        </div>
        <div id="{{ form.schedule.auto_id }}_errors">
          {{ form.schedule.errors }}
        </div>
      </div>
      {% if object.pk %}
      <p>
        Scanneren vil starte på følgende tidspunkt på de valgte dage:<br /> {{ object.get_start_time }}
      </p>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
      <button type="submit" class="btn btn-primary" name="save">
          Gem ændringer
      </button>
    </div>
  </div>
</form>

{% endblock %}
