{% extends "os2datascanner/base.html" %}

{% block heading %}
Slet {{ object }}?
{% endblock %}

{% block body %}
  <div class="container">
    <p>
      Ønsker du virkelig at slette denne scanner? Handlingen kan ikke
      fortrydes.
    </p>
    {% if object.webscans.all %}
    <p>
      Bemærk venligst at {{ object.webscans.all.count }} rapporter er
      knyttet til dette scannerjob. Disse rapporter vil fremover
      fremstå uden tilknyttet scanner og organisation.
    </p>
    {% else %}
    <p>
      Denne scanner har ingen tilknyttede rapporter.
    </p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Ja" />
      <a class="btn btn-default" href="javascript:history.go(-1)">Nej</a>
    </form>
  </div>
{% endblock %}
