/* GENERAL */

.btn-disabled {
opacity:.5;
}

/* SCANNERS */

.scanner-status {
display:inline-block;
min-width:3em;
}

/* DOMAINS */

.btn-sitemap-upload {
position:relative;
overflow:hidden;
}
.btn-sitemap-upload input[type=file] {
position:absolute;
top:0;
right:0;
min-width:100%;
min-height:100%;
font-size:999px;
text-align:right;
filter:alpha(opacity=0);
opacity:0;
outline:none;
background:white;
cursor:inherit;
display:block;
}

/* RULES */

.rule-description {
max-width:20%;
}

/* MODAL */

.modal-body iframe #page-title {
display:none;
}
