/* GENERAL */

.btn-disabled {
opacity:.5;
}
.col-sm-12 .form-group button[type="submit"] {
margin-bottom:-15px;
}

/* SCANNERS */

.scanner-status {
display:inline-block;
min-width:3em;
}
#scanner-settings-tabs {
margin: 2em 0 1em;
}
#select_scan_rules_container div.form-group {
border-top:1px solid #ddd;
margin-bottom:7px;
}
#select_scan_rules_container div.form-group:first-child {
border-top-width:0;
}
#id_regex_rules_container {
border-top:1px solid #ddd;
}

/* DOMAINS */

.btn-sitemap-upload {
position:relative;
overflow:hidden;
}
.btn-sitemap-upload input[type=file] {
position:absolute;
top:0;
right:0;
min-width:100%;
min-height:100%;
font-size:999px;
text-align:right;
filter:alpha(opacity=0);
opacity:0;
outline:none;
background:white;
cursor:inherit;
display:block;
}

/* RULES */

.rule-description {
max-width:20%;
}

/* MODAL */

.modal-body iframe {
width:100%;
height:32em;
}
html.iframe-modal h1#page-title {
display:none; /* Prevent blank h1 tags from showing */
}
html.iframe-modal body {
float:left;
clear:both;
}

/* FORM ERRORS */

ul.errorlist {
color:#a94442; /* bootstrap warning alert color */
font-size:85%;
list-style:none;
margin-top:.3em;
padding-left:0;
}

/* REPORT VIEW */

.table.report td{
width:33%;
}
.table.report td.head {
padding:0;
border-color:#fff #fff inherit;
}
.table-responsive.domains-regex {
margin-top:-20px;
}
div.failed-conversions {
margin-bottom:20px;
<<<<<<< HEAD
}

/* filter_horizontal WIDGET */
.selector-available h2, .selector-chosen h2 {
    border: 1px solid #CCC;
    font-size: inherit;
=======
}
