<nav class="navigation">

  {% if user.is_authenticated %}
    {% if not user.profile.is_upload_only %}
      {% if settings.ENABLE_WEBSCAN %}
        <a href="/webscanners/">Scannerjob</a>
      {% elif settings.ENABLE_FILESCAN %}
        <a href="/filescanners/">Scannerjob</a>
      {% elif settings.ENABLE_EXCHANGESCAN %}
        <a href="/exchangescanners/">Scannerjob</a>
      {% endif %}
      {% if user.profile.is_groups_enabled %}
        {% if user.is_superuser or user.profile.is_group_admin %}
          <a href="/groups/">Grupper</a>
        {% endif %}
      {% endif %}
      <a href="/rules/">Regler</a>
      {% if user.is_superuser or user.is_staff %}
        {% if user.is_superuser %}
          <a href="/system/orgs_and_domains/">Domæneoversigt</a>
        {% endif %}
        <a href="/admin/" target="_NEW">Administration</a>
      {% endif %}
    {% endif %}
  {% endif %}

</nav>
