<nav class="navigation">
  <a href="/"         class="{% if active_tab == 'home' %}active{% endif %}">Home</a>
  <a href="/scanners" class="{% if active_tab == 'scanners' %}active{% endif %}">Scannerjob</a>
  <a href="/rules"    class="{% if active_tab == 'rules' %}active{% endif %}">Regler</a>
  <a href="/reports"  class="{% if active_tab == 'reports' %}active{% endif %}">Rapporter</a>
  <a href="/sources"  class="{% if active_tab == 'sources' %}active{% endif %}">Sources</a>
  <a href="/user"     class="{% if active_tab == 'user' %}active{% endif %}">User</a>
</nav>
