{% extends 'os2datascanner/base.html' %}

{%  block title %}
Designguide
{% endblock %}

{% block body %}

<div class="wrapper">
  <h1>Designguide</h1>

  <article>
    <h2>Icons:</h2>
    <p>
<pre>
&lt;svg class="icon"&gt;
  &lt;use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"&gt;&lt;/use&gt;
&lt;/svg&gt;
</pre>
    </p>

    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-hour-glass"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-spinner"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-reload"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-search"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-cog"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-plus"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-minus"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-info"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-cross"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-checkmark"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-checkmark2"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-play"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-pause"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-stop"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-loop"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-circle-up"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-circle-down"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-circle-left"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-circle-right"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="/static/src/svg/symbol-defs.svg#icon-embed"></use>
    </svg>

  </article>

  <article>
    <h2>Buttons:</h2>

    <p>
<pre>
&lt;button class="button" type="button"&gt;button&lt;/button&gt;
&lt;button class="button button--cta" type="button"&gt;button--cta&lt;/button&gt;
&lt;button class="button button--rounded" type="button"&gt;button--rounded&lt;/button&gt;
&lt;button class="button button--small" type="button"&gt;button--small&lt;/button&gt;

&lt;button class="button button--cta" type="button"&gt;
  &lt;svg class="icon"&gt;
    &lt;use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"&gt;&lt;/use&gt;
  &lt;/svg&gt;
  &lt;span&gt;button w. icon&lt;/span&gt;
&lt;/button&gt;
</pre>
    </p>

    <p>
      <button class="button" type="button">button</button>
      <button class="button button--cta" type="button">button--cta</button>
      <button class="button button--cta button--rounded" type="button">button--rounded</button>
      <button class="button button--cta button--rounded button--small" type="button">button--small</button>

      <button class="button button--cta" type="button">
        <svg class="icon">
          <use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"></use>
        </svg>
        <span>button w. icon</span></button>
    </p>
  </article>

  <article>
    <h2>Datatable:</h2>
    <p>
<pre>&lt;table class="datatable"&gt;...&lt;/table&gt;</pre>
    </p>

    <table class="datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Org.</th>
          <th>Summary</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr tabindex="0">
          <td>Firstname Lastname</td>
          <td>Lead Something-fancy</td>
          <td>Badass org.</td>
          <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
          <td>Verified!</td>
        </tr>
      </tbody>
    </table>
  </article>

  <article>
    <h2>Datatable (wide):</h2>
    <p>
<pre>&lt;table class="datatable datatable--wide&gt;...&lt;/table&gt;</pre>
    </p>
    <table class="datatable datatable--wide">
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Org.</th>
          <th>Summary</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr tabindex="0">
          <td>Firstname Lastname</td>
          <td>Lead Something-fancy</td>
          <td>Badass org.</td>
          <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
          <td>Verified!</td>
        </tr>
      </tbody>
    </table>
  </article>
</div>

{% endblock %}

{% block index_active %}active{% endblock %}