{% extends 'os2datascanner/base.html' %}
  {% block body %}

  <div class="wrapper">
    <h1>Designguide</h1>

    <h2>Datatable:</h2>
    <table class="datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Org.</th>
          <th>Summary</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Firstname Lastname</td>
          <td>Lead Something-fancy</td>
          <td>Badass org.</td>
          <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
          <td>Verified!</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% endblock %}

{% block index_active %}active{% endblock %}
