{% extends 'os2datascanner/base.html' %}
{% load staticfiles %}

{%  block title %}Login{% endblock %}

{% block styling %}
<link rel="stylesheet" href="{% static "dist/bundle.css" %}">
{% endblock %}

{% block body %}

<div class="container">
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  <ul style="font-size:1em" class="errorlist">
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
Har du glemt dit password? <a href="{% url 'password_reset' %}">Klik her</a>.
</div>

{% endif %}
{% if form.errors  %}
{% if not '__all__' in form.errors %}
  <div class="alert alert-danger" role="alert">
      <p>Følgende felter er ikke udfyldt korrekt:</p>
      <ul style="font-size:1em" class="errorlist">
        {% for error in form.errors %}
	  <li>{{ error }}</li>
	{% endfor %}
      </ul>
  </div>
{% endif %}
{% endif %}
      <form role="form-horizontal" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
	<div class="form-group{% if form.username.errors %} has-error{% endif %}">
          <label class="control-label" for="id_{{ form.username.name }}">{{ form.username.label }}</label>
          <input type="text" name="{{ form.username.name }}" class="form-control" id="id_{{ form.username.name }}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
          {% if form.username.errors %}{{ form.username.errors }}{% endif %}
	</div>
	<div class="form-group{% if form.password.errors %} has-error{% endif %}">
          <label class="control-label" for="id_{{ form.password.name }}">{{ form.password.label }}</label>
          <input type="password" name="{{ form.password.name }}" class="form-control" id="id_{{ form.password.name }}" {% if form.password.value %}value="{{ form.password.value }}"{% endif %}>
          {% if form.password.errors %}{{ form.password.errors }}{% endif %}
	</div>
	<div class="form-group">
	  <input class="btn btn-primary" type="submit" value="Log ind">
	</div>
    </form>
</div>
{% endblock %}

{% block heading %} 
OS2datascanner Login
{% endblock %}
