*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}
