html {
  color: var(--color-text-main);
  font: normal normal 400 var(--size-base-font-size) / 1.3 "Inter", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", system-ui, sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl {
  margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 900;
}

p,
ol,
ul,
dl {
  max-width: 40rem;
}

th,
td {
  text-align: left;
}

mark {
  background-color: var(--color-warning);
  padding: 0 0.25rem;
}

a {
  color: blue;
  text-decoration-skip-ink: auto;
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
}

.page-title__sub {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  max-width: 60rem;
}

.click-to-copy {
  box-shadow: inset 0 -1px 0 var(--color-main);
  cursor: pointer;
  font-family: monospace;
  font-size: 1rem;
  padding: 0.2em;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: inset 0 -1.5em 0 var(--color-main);
    color: #fff;
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
