/* Generic styling */
@import 'vars';
@import 'base';
@import 'layout';
@import '../fonts/inter/inter.css';
@import 'typography';

@import 'bugfixes';

/* Areas */
@import 'components/banner';
@import 'components/logo';
@import 'components/navigation';
@import 'components/user';

/* Single components */
@import 'components/login';
@import 'components/datatable';
@import 'components/icons';
@import 'components/alerts';
@import 'components/forms';
@import 'components/buttons';
@import 'components/dashboard-widgets';
@import 'components/modal';
@import 'components/tabs';
@import 'components/select-rules';
