{% extends 'os2webscanner/base.html' %}
{%  block title %}
Skift password
{% endblock %}

{% block body %}
<div class="container">
    <h3>Skift password</h3>
    <form method="post"
        action="{% url 'django.contrib.auth.views.password_change' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input class="btn btn-primary" type="submit" value="Skift password">
    </form>
</div>
{% endblock %}

{% block heading %}
Indstillinger for bruger {{ user.username }}:
{% endblock %}
