Django==2.2.4
django-model-utils==3.2.0
Scrapy==1.7.2
scrapy-djangoitem==1.1.1
Twisted==19.2.1
arrow==0.14.4
django-recurrence==1.10.0
django-xmlrpc==0.1.8
django-settings-export==1.2.1
exchangelib==1.12.5
pika==1.1.0
psycopg2==2.8.3
psutil==5.6.3
pycrypto==2.6.1
python-dateutil==2.8.0
python-magic==0.4.15
regex==2019.06.08
unicodecsv==0.14.1
w3lib==1.20.0
requests==2.22.0
xmltodict==0.12.0
numpy==1.17.0
matplotlib==3.0.3
xattr==0.9.6
structlog==19.1.0
django-structlog==1.2.3
aio-pika==5.6.0
PyPDF2==1.26.0
olefile==0.46
defusedxml==0.6.0
prometheus_client==0.7.1
pysmbc==1.0.16
colorama==0.4.1
systemd-python==234
pdfrw==0.4
lxml==4.4.2
beautifulsoup4==4.8.2
chardet==3.0.4
python3-saml==1.9.0
git+https://github.com/magenta-aps/django-saml2-auth#egg=django-saml2-auth
