
SITE_URL = 'http://jubk.magent-aps.dk:8800'
STATIC_ROOT = '/var/www/os2webscanner/webscanner_site/static'
MEDIA_ROOT = '/var/www/os2webscanner/webscanner_site/uploads'
DEFAULT_FROM_EMAIL = 'jubk@magenta-aps.dk'
ADMIN_EMAIL = 'jubk@magenta-aps.dk'
