/* GENERAL */

.displaynone {
  display:none!important;
}

.btn-disabled {
opacity:.5;
}
.col-sm-12 .form-group button[type="submit"] {
margin-bottom:-15px;
}
.tooltip {
  box-sizing:content-box;
}

body > .navbar {
    border-radius: 0px;
}

/* SECONDARY HEADINGS ON TABULATED PAGES */
p.h2 + .page-action button {
  margin-top:-.75em;
  margin-left:1.5em;
}

/* FRONT PAGE */

ul.cards {
  margin-top:2em;
  list-style:none;
  padding:0;
}
ul.cards a.panel {
  display:block;
}
ul.cards a.panel:hover,
ul.cards a.panel:focus {
  text-decoration:none;
  background-color:#eee;
  cursor:pointer;
}
ul.cards span.h2 {
  display:block;
  text-align:center;
}
ul.cards span.glyphicon {
  font-size:calc(200% + 5vw);
  display:block;
  margin:2rem 0;
  text-align:center;
}


/* SCANNERS */

.scanner-status {
display:inline-block;
min-width:3em;
}
#scanner-settings-tabs {
margin: 2em 0 1em;
}
label[for=id_do_name_scan]{
margin-bottom:7px !important;
}
#id_whitelisted_names_container {
padding:0;
margin-bottom:10px;
}

/* SCANNERS -> RULES tab */
#select_scan_rules_container div.form-group {
border-top:1px solid #ddd;
padding-top:1em;
clear:both;
margin-bottom:0;
}
#select_scan_rules_container div.form-group:last-child {
  margin-bottom:1em;
}
#select_scan_rules_container div.form-group:first-child {
border-top:none;
padding-top:0;
}
.checkbox-group input[disabled] + label {
  color:#aaa;
}
.checkbox-group,
#selected_rules > .selected_rule {
  padding:.25em .5em;
  border-radius:4px;
  border:1px solid #d7e1ef;
  background-color:#edf1f7;
  margin: 0 1em 1em 0;
  float:left;
}
.checkbox-group input,
.checkbox-group label,
#selected_rules > .selected_rule > span,
#selected_rules .remove-rule {
  margin:0;
  line-height:1;
  display:inline-block;
  padding:.5em 0;
  vertical-align:middle;
  font-weight:normal;
  color:#666;
}
.checkbox-group input {
  margin-left:1em;
}
.checkbox-group input:first-child {
  margin-left:0;
}
.checkbox-group input:first-child + label,
#selected_rules > .selected_rule > span {
  font-weight:bold;
  font-size:105%;
}
.checkbox-group input:not(:first-child) + label {
  font-size:90%;
}

/* DOMAINS */

.btn-sitemap-upload {
position:relative;
overflow:hidden;
}
.btn-sitemap-upload input[type=file] {
position:absolute;
top:0;
right:0;
min-width:100%;
min-height:100%;
font-size:999px;
text-align:right;
filter:alpha(opacity=0);
opacity:0;
outline:none;
background:white;
cursor:inherit;
display:block;
}

/* RULES */

.rule-description {
max-width:20%;
}
.wrapper-bgcolor {
  padding:1em;
  background-color:#f0f0f0;
  border:1px solid #ddd;
  border-radius:4px;
}
#button-add-expression {
  margin-bottom:1em;
}
#cpr_settings_container .checkbox-group {
  margin-bottom:0;
}
.rule-expression code {
  display:block;
  float:left;
  clear:both;
  margin-top:4px;
  white-space:nowrap;
}
.rule-expression .pattern-container {
  display:none;
}
.rule-expression .show-patterns:checked ~ .pattern-container {
  display:block;
}
.rule-expression .show-patterns,
.rule-expression .show-patterns + label {
  vertical-align:middle;
  line-height:1;
  margin:0;
  font-weight:normal;
}

/* RULES SELECTOR */

#selected_rules {
  margin:0;
  padding:1em 0 0 1em;
  border:1px dashed #ccc;
  border-radius:4px;
}
/* #selected_rules > .selected_rule,
#selected_rules > .checkbox-group {
  margin:0 1em 1em 0;
} */
#selected_rules > .checkbox-group {
  display:none;
}
#selected_rules > .checkbox-group input[type="checkbox"]:first-of-type,
#selected_rules .remove-rule {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width:1em;
  height:1em;
  margin-right:.25em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.588' height='14.588'%3E%3Cpath fill='red' d='M14.588 1.414L13.173 0l-5.88 5.879L1.414 0 0 1.414l5.879 5.879L0 13.173l1.414 1.415 5.879-5.88 5.88 5.88 1.415-1.415-5.88-5.88z'/%3E%3C/svg%3E"); /* this is a red X */
  background-repeat:no-repeat;
  background-position:center;
  background-size:80% auto;
  cursor:pointer;
  color:transparent;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  display:inline-block;
  vertical-align:middle;
  box-sizing:content-box;
}
#selected_rules > .checkbox-group input[type="checkbox"]:first-of-type:hover,
#selected_rules > .checkbox-group input[type="checkbox"]:first-of-type:focus,
#selected_rules .remove-rule:hover,
#selected_rules .remove-rule:focus {
  border-bottom:1px solid red;
  padding-bottom:0;
  margin-bottom:-1px;
}
#selected_rules .remove-rule.disabled {
  pointer-events: none;
  cursor: default;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.588' height='14.588'%3E%3Cpath fill='grey' d='M14.588 1.414L13.173 0l-5.88 5.879L1.414 0 0 1.414l5.879 5.879L0 13.173l1.414 1.415 5.879-5.88 5.88 5.88 1.415-1.415-5.88-5.88z'/%3E%3C/svg%3E");
}
#selected_rules > .selected_rule span:not([data-original-title=""]):hover,
#selected_rules > .selected_rule span:not([data-original-title=""]):focus { /* don't give items with empty tooltips the hover style */
  border-bottom:1px dotted #999;
  padding-bottom:0;
  margin-bottom:calc(.5em - 1px);
}
#selected_rules > .selected_rule .disabled {
  color: #aaa
}
#selected_rules #rules_list {
  float:right;
  margin:0 1em 1em 0;
}
#available_rules {
  overflow-y:auto;
  max-height:250px;
}
#available_rules .dropdown-header:not(:first-child) {
  border-top:1px solid #e5e5e5;
  padding-top:9px;
  margin-top:9px;
}
#available_rules > li[data-disabled] a {
  color:#aaa;
}
#available_rules > li[data-disabled] a:hover {
  background-color:inherit;
  cursor:default;
}
#available_rules #rule-filter {
  display:block;
  margin:0 20px;
}
/* MODAL */

.modal-body iframe {
width:100%;
height:32em;
}
html.iframe-modal h1#page-title {
display:none; /* Prevent blank h1 tags from showing */
}
html.iframe-modal body {
float:left;
clear:both;
width:100%;
}

.modal-body #list-links {
    overflow-y: scroll;
    max-height: 70vh;
}

.modal-body #list-links a {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

#view-deadlinks-modal iframe {
    max-height: 70vh;
}

.dead-link {
    display: inline-block;
    border: 1px solid #ebcccc;
    border-radius: 0.25rem;
    background: #f2dede;
    color: #a94442;
    padding: .75rem 1.25rem;
}

@media (min-width:1260px){
    #view-deadlinks-modal .modal-lg{
        width:1200px;
    }
}

@media (min-width:1600px){
    #view-deadlinks-modal .modal-lg{
        width:1500px;
    }
}

/* FORM ERRORS */

ul.errorlist {
color:#a94442; /* bootstrap warning alert color */
font-size:85%;
list-style:none;
margin-top:.3em;
padding-left:0;
}

/* REPORT LIST */

.reports-pager {
text-align:left;
}
.reports-pager li {
margin:0 0 0 .25em;
}
.reports-pager li:first-child {
margin:0;
}
.report-actions .btn.view-report:link {
color:#333;
background-color:#fff;
border-color:#ccc;
}
.report-actions .btn.view-report:visited {
color:#bbb;
border-color:#e0e0e0;
}
.report-actions .btn.view-report:hover {
color:#333;
background-color:#ebebeb;
border-color:#adadad;
text-decoration:none;
}
.report-actions .btn.view-report:active {
color:#333;
background-color:#ebebeb;
border-color:#adadad;
text-decoration:none;
}

/* REPORT VIEW */

.table.report td{
width:33%;
}
.table.report td.head {
padding:0;
border-color:#fff #fff #ddd;
}
.table-responsive.domains-regex {
margin-top:-20px;
}
a.download-csv:visited,
.broken-url-referrers a:visited,
.broken-url-url a:visited,
.failed-conversions a:visited,
.domains-regex a:visited,
.match-url a:visited {
color:#ca428b;
}
div.failed-conversions {
margin-bottom:20px;
}

div.cookies {
margin-bottom:20px;
padding:0;
}
/* filter_horizontal WIDGET */
.selector-available h2, .selector-chosen h2 {
    font-size: inherit;
}

input.phantom {
display: none;
}
